.challenge-idx-1000, .challenge-3507 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -0px -0px;
}

.challenge-idx-1001, .challenge-3508 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -150px -0px;
}

.challenge-idx-1002, .challenge-3531 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -300px -0px;
}

.challenge-idx-1003, .challenge-3533 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -450px -0px;
}

.challenge-idx-1004, .challenge-3535 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -600px -0px;
}

.challenge-idx-1005, .challenge-3536 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -750px -0px;
}

.challenge-idx-1006, .challenge-3537 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -900px -0px;
}

.challenge-idx-1007, .challenge-3538 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1050px -0px;
}

.challenge-idx-1008, .challenge-3539 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1200px -0px;
}

.challenge-idx-1009, .challenge-3540 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1350px -0px;
}

.challenge-idx-1010, .challenge-3541 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -0px -150px;
}

.challenge-idx-1011, .challenge-3542 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -150px -150px;
}

.challenge-idx-1012, .challenge-3544 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -300px -150px;
}

.challenge-idx-1013, .challenge-3559 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -450px -150px;
}

.challenge-idx-1014, .challenge-3560 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -600px -150px;
}

.challenge-idx-1015, .challenge-3563 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -750px -150px;
}

.challenge-idx-1016, .challenge-3564 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -900px -150px;
}

.challenge-idx-1017, .challenge-3567 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1050px -150px;
}

.challenge-idx-1018, .challenge-3568 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1200px -150px;
}

.challenge-idx-1019, .challenge-3569 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1350px -150px;
}

.challenge-idx-1020, .challenge-3570 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -0px -300px;
}

.challenge-idx-1021, .challenge-3572 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -150px -300px;
}

.challenge-idx-1022, .challenge-3575 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -300px -300px;
}

.challenge-idx-1023, .challenge-3576 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -450px -300px;
}

.challenge-idx-1024, .challenge-3577 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -600px -300px;
}

.challenge-idx-1025, .challenge-3578 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -750px -300px;
}

.challenge-idx-1026, .challenge-3579 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -900px -300px;
}

.challenge-idx-1027, .challenge-3580 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1050px -300px;
}

.challenge-idx-1028, .challenge-3581 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1200px -300px;
}

.challenge-idx-1029, .challenge-3582 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1350px -300px;
}

.challenge-idx-1030, .challenge-3583 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -0px -450px;
}

.challenge-idx-1031, .challenge-3584 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -150px -450px;
}

.challenge-idx-1032, .challenge-3585 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -300px -450px;
}

.challenge-idx-1033, .challenge-3586 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -450px -450px;
}

.challenge-idx-1034, .challenge-3587 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -600px -450px;
}

.challenge-idx-1035, .challenge-3588 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -750px -450px;
}

.challenge-idx-1036, .challenge-3589 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -900px -450px;
}

.challenge-idx-1037, .challenge-3590 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1050px -450px;
}

.challenge-idx-1038, .challenge-3592 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1200px -450px;
}

.challenge-idx-1039, .challenge-3593 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1350px -450px;
}

.challenge-idx-1040, .challenge-3606 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -0px -600px;
}

.challenge-idx-1041, .challenge-3609 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -150px -600px;
}

.challenge-idx-1042, .challenge-3610 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -300px -600px;
}

.challenge-idx-1043, .challenge-3611 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -450px -600px;
}

.challenge-idx-1044, .challenge-3612 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -600px -600px;
}

.challenge-idx-1045, .challenge-3613 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -750px -600px;
}

.challenge-idx-1046, .challenge-3614 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -900px -600px;
}

.challenge-idx-1047, .challenge-3615 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1050px -600px;
}

.challenge-idx-1048, .challenge-3616 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1200px -600px;
}

.challenge-idx-1049, .challenge-3617 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1350px -600px;
}

.challenge-idx-1050, .challenge-3618 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -0px -750px;
}

.challenge-idx-1051, .challenge-3621 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -150px -750px;
}

.challenge-idx-1052, .challenge-3622 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -300px -750px;
}

.challenge-idx-1053, .challenge-3626 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -450px -750px;
}

.challenge-idx-1054, .challenge-3639 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -600px -750px;
}

.challenge-idx-1055, .challenge-3641 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -750px -750px;
}

.challenge-idx-1056, .challenge-3645 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -900px -750px;
}

.challenge-idx-1057, .challenge-3646 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1050px -750px;
}

.challenge-idx-1058, .challenge-3649 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1200px -750px;
}

.challenge-idx-1059, .challenge-3650 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1350px -750px;
}

.challenge-idx-1060, .challenge-3651 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -0px -900px;
}

.challenge-idx-1061, .challenge-3652 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -150px -900px;
}

.challenge-idx-1062, .challenge-3653 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -300px -900px;
}

.challenge-idx-1063, .challenge-3654 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -450px -900px;
}

.challenge-idx-1064, .challenge-3655 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -600px -900px;
}

.challenge-idx-1065, .challenge-3656 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -750px -900px;
}

.challenge-idx-1066, .challenge-3657 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -900px -900px;
}

.challenge-idx-1067, .challenge-3660 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1050px -900px;
}

.challenge-idx-1068, .challenge-3661 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1200px -900px;
}

.challenge-idx-1069, .challenge-3662 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1350px -900px;
}

.challenge-idx-1070, .challenge-3663 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -0px -1050px;
}

.challenge-idx-1071, .challenge-3665 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -150px -1050px;
}

.challenge-idx-1072, .challenge-3666 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -300px -1050px;
}

.challenge-idx-1073, .challenge-3667 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -450px -1050px;
}

.challenge-idx-1074, .challenge-3668 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -600px -1050px;
}

.challenge-idx-1075, .challenge-3673 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -750px -1050px;
}

.challenge-idx-1076, .challenge-3674 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -900px -1050px;
}

.challenge-idx-1077, .challenge-3675 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1050px -1050px;
}

.challenge-idx-1078, .challenge-3679 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1200px -1050px;
}

.challenge-idx-1079, .challenge-3680 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1350px -1050px;
}

.challenge-idx-1080, .challenge-3681 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -0px -1200px;
}

.challenge-idx-1081, .challenge-3682 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -150px -1200px;
}

.challenge-idx-1082, .challenge-3683 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -300px -1200px;
}

.challenge-idx-1083, .challenge-3699 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -450px -1200px;
}

.challenge-idx-1084, .challenge-3700 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -600px -1200px;
}

.challenge-idx-1085, .challenge-3701 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -750px -1200px;
}

.challenge-idx-1086, .challenge-3702 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -900px -1200px;
}

.challenge-idx-1087, .challenge-3703 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1050px -1200px;
}

.challenge-idx-1088, .challenge-3705 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1200px -1200px;
}

.challenge-idx-1089, .challenge-3707 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1350px -1200px;
}

.challenge-idx-1090, .challenge-3708 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -0px -1350px;
}

.challenge-idx-1091, .challenge-3709 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -150px -1350px;
}

.challenge-idx-1092, .challenge-3710 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -300px -1350px;
}

.challenge-idx-1093, .challenge-3712 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -450px -1350px;
}

.challenge-idx-1094, .challenge-3714 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -600px -1350px;
}

.challenge-idx-1095, .challenge-3721 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -750px -1350px;
}

.challenge-idx-1096, .challenge-3722 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -900px -1350px;
}

.challenge-idx-1097, .challenge-3723 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1050px -1350px;
}

.challenge-idx-1098, .challenge-3725 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1200px -1350px;
}

.challenge-idx-1099, .challenge-3726 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1000_1100.png') -1350px -1350px;
}