.challenge-idx-2300, .challenge-5906 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -0px -0px;
}

.challenge-idx-2301, .challenge-5907 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -150px -0px;
}

.challenge-idx-2302, .challenge-5908 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -300px -0px;
}

.challenge-idx-2303, .challenge-5909 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -450px -0px;
}

.challenge-idx-2304, .challenge-5910 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -600px -0px;
}

.challenge-idx-2305, .challenge-5911 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -750px -0px;
}

.challenge-idx-2306, .challenge-5912 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -900px -0px;
}

.challenge-idx-2307, .challenge-5913 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1050px -0px;
}

.challenge-idx-2308, .challenge-5914 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1200px -0px;
}

.challenge-idx-2309, .challenge-5915 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1350px -0px;
}

.challenge-idx-2310, .challenge-5916 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -0px -150px;
}

.challenge-idx-2311, .challenge-5917 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -150px -150px;
}

.challenge-idx-2312, .challenge-5918 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -300px -150px;
}

.challenge-idx-2313, .challenge-5919 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -450px -150px;
}

.challenge-idx-2314, .challenge-5920 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -600px -150px;
}

.challenge-idx-2315, .challenge-5921 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -750px -150px;
}

.challenge-idx-2316, .challenge-5922 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -900px -150px;
}

.challenge-idx-2317, .challenge-5923 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1050px -150px;
}

.challenge-idx-2318, .challenge-5924 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1200px -150px;
}

.challenge-idx-2319, .challenge-5925 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1350px -150px;
}

.challenge-idx-2320, .challenge-5926 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -0px -300px;
}

.challenge-idx-2321, .challenge-5927 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -150px -300px;
}

.challenge-idx-2322, .challenge-5928 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -300px -300px;
}

.challenge-idx-2323, .challenge-5929 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -450px -300px;
}

.challenge-idx-2324, .challenge-5930 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -600px -300px;
}

.challenge-idx-2325, .challenge-5931 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -750px -300px;
}

.challenge-idx-2326, .challenge-5932 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -900px -300px;
}

.challenge-idx-2327, .challenge-5934 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1050px -300px;
}

.challenge-idx-2328, .challenge-5935 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1200px -300px;
}

.challenge-idx-2329, .challenge-5936 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1350px -300px;
}

.challenge-idx-2330, .challenge-5937 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -0px -450px;
}

.challenge-idx-2331, .challenge-5939 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -150px -450px;
}

.challenge-idx-2332, .challenge-5940 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -300px -450px;
}

.challenge-idx-2333, .challenge-5941 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -450px -450px;
}

.challenge-idx-2334, .challenge-5943 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -600px -450px;
}

.challenge-idx-2335, .challenge-5944 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -750px -450px;
}

.challenge-idx-2336, .challenge-5945 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -900px -450px;
}

.challenge-idx-2337, .challenge-5946 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1050px -450px;
}

.challenge-idx-2338, .challenge-5947 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1200px -450px;
}

.challenge-idx-2339, .challenge-5948 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1350px -450px;
}

.challenge-idx-2340, .challenge-5949 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -0px -600px;
}

.challenge-idx-2341, .challenge-5950 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -150px -600px;
}

.challenge-idx-2342, .challenge-5951 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -300px -600px;
}

.challenge-idx-2343, .challenge-5952 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -450px -600px;
}

.challenge-idx-2344, .challenge-5953 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -600px -600px;
}

.challenge-idx-2345, .challenge-5954 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -750px -600px;
}

.challenge-idx-2346, .challenge-5955 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -900px -600px;
}

.challenge-idx-2347, .challenge-5956 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1050px -600px;
}

.challenge-idx-2348, .challenge-5957 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1200px -600px;
}

.challenge-idx-2349, .challenge-5958 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1350px -600px;
}

.challenge-idx-2350, .challenge-5959 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -0px -750px;
}

.challenge-idx-2351, .challenge-5960 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -150px -750px;
}

.challenge-idx-2352, .challenge-5961 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -300px -750px;
}

.challenge-idx-2353, .challenge-5962 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -450px -750px;
}

.challenge-idx-2354, .challenge-5963 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -600px -750px;
}

.challenge-idx-2355, .challenge-5964 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -750px -750px;
}

.challenge-idx-2356, .challenge-5965 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -900px -750px;
}

.challenge-idx-2357, .challenge-5966 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1050px -750px;
}

.challenge-idx-2358, .challenge-5967 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1200px -750px;
}

.challenge-idx-2359, .challenge-5968 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1350px -750px;
}

.challenge-idx-2360, .challenge-5969 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -0px -900px;
}

.challenge-idx-2361, .challenge-5970 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -150px -900px;
}

.challenge-idx-2362, .challenge-5971 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -300px -900px;
}

.challenge-idx-2363, .challenge-5972 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -450px -900px;
}

.challenge-idx-2364, .challenge-5974 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -600px -900px;
}

.challenge-idx-2365, .challenge-5977 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -750px -900px;
}

.challenge-idx-2366, .challenge-5989 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -900px -900px;
}

.challenge-idx-2367, .challenge-5991 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1050px -900px;
}

.challenge-idx-2368, .challenge-5992 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1200px -900px;
}

.challenge-idx-2369, .challenge-5993 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1350px -900px;
}

.challenge-idx-2370, .challenge-5994 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -0px -1050px;
}

.challenge-idx-2371, .challenge-5995 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -150px -1050px;
}

.challenge-idx-2372, .challenge-5996 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -300px -1050px;
}

.challenge-idx-2373, .challenge-5997 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -450px -1050px;
}

.challenge-idx-2374, .challenge-5998 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -600px -1050px;
}

.challenge-idx-2375, .challenge-5999 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -750px -1050px;
}

.challenge-idx-2376, .challenge-6000 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -900px -1050px;
}

.challenge-idx-2377, .challenge-6001 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1050px -1050px;
}

.challenge-idx-2378, .challenge-6002 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1200px -1050px;
}

.challenge-idx-2379, .challenge-6003 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1350px -1050px;
}

.challenge-idx-2380, .challenge-6004 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -0px -1200px;
}

.challenge-idx-2381, .challenge-6005 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -150px -1200px;
}

.challenge-idx-2382, .challenge-6007 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -300px -1200px;
}

.challenge-idx-2383, .challenge-6008 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -450px -1200px;
}

.challenge-idx-2384, .challenge-6009 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -600px -1200px;
}

.challenge-idx-2385, .challenge-6010 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -750px -1200px;
}

.challenge-idx-2386, .challenge-6011 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -900px -1200px;
}

.challenge-idx-2387, .challenge-6012 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1050px -1200px;
}

.challenge-idx-2388, .challenge-6014 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1200px -1200px;
}

.challenge-idx-2389, .challenge-6015 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1350px -1200px;
}

.challenge-idx-2390, .challenge-6016 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -0px -1350px;
}

.challenge-idx-2391, .challenge-6017 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -150px -1350px;
}

.challenge-idx-2392, .challenge-6018 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -300px -1350px;
}

.challenge-idx-2393, .challenge-6019 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -450px -1350px;
}

.challenge-idx-2394, .challenge-6020 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -600px -1350px;
}

.challenge-idx-2395, .challenge-6021 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -750px -1350px;
}

.challenge-idx-2396, .challenge-6022 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -900px -1350px;
}

.challenge-idx-2397, .challenge-6023 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1050px -1350px;
}

.challenge-idx-2398, .challenge-6024 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1200px -1350px;
}

.challenge-idx-2399, .challenge-6025 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2300_2400.png') -1350px -1350px;
}