.challenge-idx-1500, .challenge-4529 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -0px -0px;
}

.challenge-idx-1501, .challenge-4530 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -150px -0px;
}

.challenge-idx-1502, .challenge-4531 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -300px -0px;
}

.challenge-idx-1503, .challenge-4532 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -450px -0px;
}

.challenge-idx-1504, .challenge-4546 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -600px -0px;
}

.challenge-idx-1505, .challenge-4549 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -750px -0px;
}

.challenge-idx-1506, .challenge-4550 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -900px -0px;
}

.challenge-idx-1507, .challenge-4556 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1050px -0px;
}

.challenge-idx-1508, .challenge-4558 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1200px -0px;
}

.challenge-idx-1509, .challenge-4559 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1350px -0px;
}

.challenge-idx-1510, .challenge-4560 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -0px -150px;
}

.challenge-idx-1511, .challenge-4561 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -150px -150px;
}

.challenge-idx-1512, .challenge-4570 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -300px -150px;
}

.challenge-idx-1513, .challenge-4571 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -450px -150px;
}

.challenge-idx-1514, .challenge-4572 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -600px -150px;
}

.challenge-idx-1515, .challenge-4574 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -750px -150px;
}

.challenge-idx-1516, .challenge-4576 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -900px -150px;
}

.challenge-idx-1517, .challenge-4577 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1050px -150px;
}

.challenge-idx-1518, .challenge-4578 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1200px -150px;
}

.challenge-idx-1519, .challenge-4579 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1350px -150px;
}

.challenge-idx-1520, .challenge-4580 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -0px -300px;
}

.challenge-idx-1521, .challenge-4585 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -150px -300px;
}

.challenge-idx-1522, .challenge-4586 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -300px -300px;
}

.challenge-idx-1523, .challenge-4587 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -450px -300px;
}

.challenge-idx-1524, .challenge-4593 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -600px -300px;
}

.challenge-idx-1525, .challenge-4610 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -750px -300px;
}

.challenge-idx-1526, .challenge-4611 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -900px -300px;
}

.challenge-idx-1527, .challenge-4612 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1050px -300px;
}

.challenge-idx-1528, .challenge-4613 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1200px -300px;
}

.challenge-idx-1529, .challenge-4614 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1350px -300px;
}

.challenge-idx-1530, .challenge-4627 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -0px -450px;
}

.challenge-idx-1531, .challenge-4628 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -150px -450px;
}

.challenge-idx-1532, .challenge-4629 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -300px -450px;
}

.challenge-idx-1533, .challenge-4630 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -450px -450px;
}

.challenge-idx-1534, .challenge-4632 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -600px -450px;
}

.challenge-idx-1535, .challenge-4635 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -750px -450px;
}

.challenge-idx-1536, .challenge-4636 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -900px -450px;
}

.challenge-idx-1537, .challenge-4637 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1050px -450px;
}

.challenge-idx-1538, .challenge-4638 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1200px -450px;
}

.challenge-idx-1539, .challenge-4639 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1350px -450px;
}

.challenge-idx-1540, .challenge-4640 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -0px -600px;
}

.challenge-idx-1541, .challenge-4641 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -150px -600px;
}

.challenge-idx-1542, .challenge-4642 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -300px -600px;
}

.challenge-idx-1543, .challenge-4643 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -450px -600px;
}

.challenge-idx-1544, .challenge-4644 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -600px -600px;
}

.challenge-idx-1545, .challenge-4646 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -750px -600px;
}

.challenge-idx-1546, .challenge-4647 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -900px -600px;
}

.challenge-idx-1547, .challenge-4648 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1050px -600px;
}

.challenge-idx-1548, .challenge-4649 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1200px -600px;
}

.challenge-idx-1549, .challenge-4650 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1350px -600px;
}

.challenge-idx-1550, .challenge-4651 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -0px -750px;
}

.challenge-idx-1551, .challenge-4652 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -150px -750px;
}

.challenge-idx-1552, .challenge-4653 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -300px -750px;
}

.challenge-idx-1553, .challenge-4655 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -450px -750px;
}

.challenge-idx-1554, .challenge-4656 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -600px -750px;
}

.challenge-idx-1555, .challenge-4657 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -750px -750px;
}

.challenge-idx-1556, .challenge-4659 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -900px -750px;
}

.challenge-idx-1557, .challenge-4660 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1050px -750px;
}

.challenge-idx-1558, .challenge-4661 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1200px -750px;
}

.challenge-idx-1559, .challenge-4677 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1350px -750px;
}

.challenge-idx-1560, .challenge-4678 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -0px -900px;
}

.challenge-idx-1561, .challenge-4679 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -150px -900px;
}

.challenge-idx-1562, .challenge-4680 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -300px -900px;
}

.challenge-idx-1563, .challenge-4681 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -450px -900px;
}

.challenge-idx-1564, .challenge-4683 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -600px -900px;
}

.challenge-idx-1565, .challenge-4684 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -750px -900px;
}

.challenge-idx-1566, .challenge-4686 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -900px -900px;
}

.challenge-idx-1567, .challenge-4687 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1050px -900px;
}

.challenge-idx-1568, .challenge-4688 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1200px -900px;
}

.challenge-idx-1569, .challenge-4691 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1350px -900px;
}

.challenge-idx-1570, .challenge-4692 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -0px -1050px;
}

.challenge-idx-1571, .challenge-4694 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -150px -1050px;
}

.challenge-idx-1572, .challenge-4696 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -300px -1050px;
}

.challenge-idx-1573, .challenge-4697 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -450px -1050px;
}

.challenge-idx-1574, .challenge-4698 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -600px -1050px;
}

.challenge-idx-1575, .challenge-4699 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -750px -1050px;
}

.challenge-idx-1576, .challenge-4700 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -900px -1050px;
}

.challenge-idx-1577, .challenge-4701 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1050px -1050px;
}

.challenge-idx-1578, .challenge-4702 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1200px -1050px;
}

.challenge-idx-1579, .challenge-4703 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1350px -1050px;
}

.challenge-idx-1580, .challenge-4704 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -0px -1200px;
}

.challenge-idx-1581, .challenge-4705 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -150px -1200px;
}

.challenge-idx-1582, .challenge-4706 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -300px -1200px;
}

.challenge-idx-1583, .challenge-4707 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -450px -1200px;
}

.challenge-idx-1584, .challenge-4709 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -600px -1200px;
}

.challenge-idx-1585, .challenge-4710 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -750px -1200px;
}

.challenge-idx-1586, .challenge-4711 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -900px -1200px;
}

.challenge-idx-1587, .challenge-4712 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1050px -1200px;
}

.challenge-idx-1588, .challenge-4713 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1200px -1200px;
}

.challenge-idx-1589, .challenge-4714 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1350px -1200px;
}

.challenge-idx-1590, .challenge-4716 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -0px -1350px;
}

.challenge-idx-1591, .challenge-4717 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -150px -1350px;
}

.challenge-idx-1592, .challenge-4718 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -300px -1350px;
}

.challenge-idx-1593, .challenge-4724 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -450px -1350px;
}

.challenge-idx-1594, .challenge-4725 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -600px -1350px;
}

.challenge-idx-1595, .challenge-4726 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -750px -1350px;
}

.challenge-idx-1596, .challenge-4741 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -900px -1350px;
}

.challenge-idx-1597, .challenge-4743 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1050px -1350px;
}

.challenge-idx-1598, .challenge-4745 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1200px -1350px;
}

.challenge-idx-1599, .challenge-4746 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1500_1600.png') -1350px -1350px;
}