.challenge-idx-800, .challenge-3120 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -0px -0px;
}

.challenge-idx-801, .challenge-3121 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -150px -0px;
}

.challenge-idx-802, .challenge-3122 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -300px -0px;
}

.challenge-idx-803, .challenge-3123 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -450px -0px;
}

.challenge-idx-804, .challenge-3124 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -600px -0px;
}

.challenge-idx-805, .challenge-3125 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -750px -0px;
}

.challenge-idx-806, .challenge-3126 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -900px -0px;
}

.challenge-idx-807, .challenge-3128 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1050px -0px;
}

.challenge-idx-808, .challenge-3129 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1200px -0px;
}

.challenge-idx-809, .challenge-3130 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1350px -0px;
}

.challenge-idx-810, .challenge-3131 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -0px -150px;
}

.challenge-idx-811, .challenge-3133 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -150px -150px;
}

.challenge-idx-812, .challenge-3134 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -300px -150px;
}

.challenge-idx-813, .challenge-3136 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -450px -150px;
}

.challenge-idx-814, .challenge-3139 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -600px -150px;
}

.challenge-idx-815, .challenge-3141 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -750px -150px;
}

.challenge-idx-816, .challenge-3142 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -900px -150px;
}

.challenge-idx-817, .challenge-3143 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1050px -150px;
}

.challenge-idx-818, .challenge-3144 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1200px -150px;
}

.challenge-idx-819, .challenge-3145 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1350px -150px;
}

.challenge-idx-820, .challenge-3148 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -0px -300px;
}

.challenge-idx-821, .challenge-3149 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -150px -300px;
}

.challenge-idx-822, .challenge-3150 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -300px -300px;
}

.challenge-idx-823, .challenge-3151 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -450px -300px;
}

.challenge-idx-824, .challenge-3152 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -600px -300px;
}

.challenge-idx-825, .challenge-3154 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -750px -300px;
}

.challenge-idx-826, .challenge-3155 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -900px -300px;
}

.challenge-idx-827, .challenge-3156 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1050px -300px;
}

.challenge-idx-828, .challenge-3157 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1200px -300px;
}

.challenge-idx-829, .challenge-3158 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1350px -300px;
}

.challenge-idx-830, .challenge-3159 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -0px -450px;
}

.challenge-idx-831, .challenge-3160 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -150px -450px;
}

.challenge-idx-832, .challenge-3171 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -300px -450px;
}

.challenge-idx-833, .challenge-3172 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -450px -450px;
}

.challenge-idx-834, .challenge-3173 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -600px -450px;
}

.challenge-idx-835, .challenge-3174 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -750px -450px;
}

.challenge-idx-836, .challenge-3175 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -900px -450px;
}

.challenge-idx-837, .challenge-3176 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1050px -450px;
}

.challenge-idx-838, .challenge-3177 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1200px -450px;
}

.challenge-idx-839, .challenge-3178 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1350px -450px;
}

.challenge-idx-840, .challenge-3179 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -0px -600px;
}

.challenge-idx-841, .challenge-3180 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -150px -600px;
}

.challenge-idx-842, .challenge-3181 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -300px -600px;
}

.challenge-idx-843, .challenge-3183 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -450px -600px;
}

.challenge-idx-844, .challenge-3184 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -600px -600px;
}

.challenge-idx-845, .challenge-3185 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -750px -600px;
}

.challenge-idx-846, .challenge-3186 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -900px -600px;
}

.challenge-idx-847, .challenge-3188 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1050px -600px;
}

.challenge-idx-848, .challenge-3189 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1200px -600px;
}

.challenge-idx-849, .challenge-3190 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1350px -600px;
}

.challenge-idx-850, .challenge-3191 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -0px -750px;
}

.challenge-idx-851, .challenge-3192 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -150px -750px;
}

.challenge-idx-852, .challenge-3195 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -300px -750px;
}

.challenge-idx-853, .challenge-3196 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -450px -750px;
}

.challenge-idx-854, .challenge-3202 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -600px -750px;
}

.challenge-idx-855, .challenge-3204 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -750px -750px;
}

.challenge-idx-856, .challenge-3220 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -900px -750px;
}

.challenge-idx-857, .challenge-3221 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1050px -750px;
}

.challenge-idx-858, .challenge-3224 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1200px -750px;
}

.challenge-idx-859, .challenge-3225 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1350px -750px;
}

.challenge-idx-860, .challenge-3226 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -0px -900px;
}

.challenge-idx-861, .challenge-3228 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -150px -900px;
}

.challenge-idx-862, .challenge-3229 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -300px -900px;
}

.challenge-idx-863, .challenge-3230 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -450px -900px;
}

.challenge-idx-864, .challenge-3231 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -600px -900px;
}

.challenge-idx-865, .challenge-3236 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -750px -900px;
}

.challenge-idx-866, .challenge-3238 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -900px -900px;
}

.challenge-idx-867, .challenge-3239 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1050px -900px;
}

.challenge-idx-868, .challenge-3240 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1200px -900px;
}

.challenge-idx-869, .challenge-3242 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1350px -900px;
}

.challenge-idx-870, .challenge-3243 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -0px -1050px;
}

.challenge-idx-871, .challenge-3244 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -150px -1050px;
}

.challenge-idx-872, .challenge-3249 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -300px -1050px;
}

.challenge-idx-873, .challenge-3253 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -450px -1050px;
}

.challenge-idx-874, .challenge-3267 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -600px -1050px;
}

.challenge-idx-875, .challenge-3268 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -750px -1050px;
}

.challenge-idx-876, .challenge-3271 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -900px -1050px;
}

.challenge-idx-877, .challenge-3273 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1050px -1050px;
}

.challenge-idx-878, .challenge-3277 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1200px -1050px;
}

.challenge-idx-879, .challenge-3281 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1350px -1050px;
}

.challenge-idx-880, .challenge-3282 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -0px -1200px;
}

.challenge-idx-881, .challenge-3283 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -150px -1200px;
}

.challenge-idx-882, .challenge-3284 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -300px -1200px;
}

.challenge-idx-883, .challenge-3287 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -450px -1200px;
}

.challenge-idx-884, .challenge-3288 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -600px -1200px;
}

.challenge-idx-885, .challenge-3289 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -750px -1200px;
}

.challenge-idx-886, .challenge-3291 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -900px -1200px;
}

.challenge-idx-887, .challenge-3292 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1050px -1200px;
}

.challenge-idx-888, .challenge-3293 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1200px -1200px;
}

.challenge-idx-889, .challenge-3294 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1350px -1200px;
}

.challenge-idx-890, .challenge-3296 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -0px -1350px;
}

.challenge-idx-891, .challenge-3297 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -150px -1350px;
}

.challenge-idx-892, .challenge-3298 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -300px -1350px;
}

.challenge-idx-893, .challenge-3299 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -450px -1350px;
}

.challenge-idx-894, .challenge-3300 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -600px -1350px;
}

.challenge-idx-895, .challenge-3301 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -750px -1350px;
}

.challenge-idx-896, .challenge-3302 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -900px -1350px;
}

.challenge-idx-897, .challenge-3303 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1050px -1350px;
}

.challenge-idx-898, .challenge-3305 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1200px -1350px;
}

.challenge-idx-899, .challenge-3306 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_800_900.png') -1350px -1350px;
}