.challenge-idx-400, .challenge-2442 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -0px -0px;
}

.challenge-idx-401, .challenge-2444 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -150px -0px;
}

.challenge-idx-402, .challenge-2446 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -300px -0px;
}

.challenge-idx-403, .challenge-2448 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -450px -0px;
}

.challenge-idx-404, .challenge-2449 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -600px -0px;
}

.challenge-idx-405, .challenge-2450 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -750px -0px;
}

.challenge-idx-406, .challenge-2451 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -900px -0px;
}

.challenge-idx-407, .challenge-2452 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1050px -0px;
}

.challenge-idx-408, .challenge-2453 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1200px -0px;
}

.challenge-idx-409, .challenge-2454 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1350px -0px;
}

.challenge-idx-410, .challenge-2455 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -0px -150px;
}

.challenge-idx-411, .challenge-2456 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -150px -150px;
}

.challenge-idx-412, .challenge-2457 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -300px -150px;
}

.challenge-idx-413, .challenge-2458 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -450px -150px;
}

.challenge-idx-414, .challenge-2459 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -600px -150px;
}

.challenge-idx-415, .challenge-2460 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -750px -150px;
}

.challenge-idx-416, .challenge-2462 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -900px -150px;
}

.challenge-idx-417, .challenge-2463 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1050px -150px;
}

.challenge-idx-418, .challenge-2464 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1200px -150px;
}

.challenge-idx-419, .challenge-2465 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1350px -150px;
}

.challenge-idx-420, .challenge-2466 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -0px -300px;
}

.challenge-idx-421, .challenge-2467 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -150px -300px;
}

.challenge-idx-422, .challenge-2468 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -300px -300px;
}

.challenge-idx-423, .challenge-2469 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -450px -300px;
}

.challenge-idx-424, .challenge-2470 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -600px -300px;
}

.challenge-idx-425, .challenge-2475 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -750px -300px;
}

.challenge-idx-426, .challenge-2482 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -900px -300px;
}

.challenge-idx-427, .challenge-2483 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1050px -300px;
}

.challenge-idx-428, .challenge-2484 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1200px -300px;
}

.challenge-idx-429, .challenge-2485 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1350px -300px;
}

.challenge-idx-430, .challenge-2487 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -0px -450px;
}

.challenge-idx-431, .challenge-2488 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -150px -450px;
}

.challenge-idx-432, .challenge-2489 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -300px -450px;
}

.challenge-idx-433, .challenge-2490 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -450px -450px;
}

.challenge-idx-434, .challenge-2491 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -600px -450px;
}

.challenge-idx-435, .challenge-2492 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -750px -450px;
}

.challenge-idx-436, .challenge-2493 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -900px -450px;
}

.challenge-idx-437, .challenge-2494 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1050px -450px;
}

.challenge-idx-438, .challenge-2495 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1200px -450px;
}

.challenge-idx-439, .challenge-2496 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1350px -450px;
}

.challenge-idx-440, .challenge-2497 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -0px -600px;
}

.challenge-idx-441, .challenge-2498 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -150px -600px;
}

.challenge-idx-442, .challenge-2499 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -300px -600px;
}

.challenge-idx-443, .challenge-2500 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -450px -600px;
}

.challenge-idx-444, .challenge-2503 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -600px -600px;
}

.challenge-idx-445, .challenge-2504 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -750px -600px;
}

.challenge-idx-446, .challenge-2505 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -900px -600px;
}

.challenge-idx-447, .challenge-2512 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1050px -600px;
}

.challenge-idx-448, .challenge-2517 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1200px -600px;
}

.challenge-idx-449, .challenge-2518 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1350px -600px;
}

.challenge-idx-450, .challenge-2519 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -0px -750px;
}

.challenge-idx-451, .challenge-2520 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -150px -750px;
}

.challenge-idx-452, .challenge-2521 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -300px -750px;
}

.challenge-idx-453, .challenge-2522 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -450px -750px;
}

.challenge-idx-454, .challenge-2523 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -600px -750px;
}

.challenge-idx-455, .challenge-2524 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -750px -750px;
}

.challenge-idx-456, .challenge-2525 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -900px -750px;
}

.challenge-idx-457, .challenge-2526 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1050px -750px;
}

.challenge-idx-458, .challenge-2527 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1200px -750px;
}

.challenge-idx-459, .challenge-2528 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1350px -750px;
}

.challenge-idx-460, .challenge-2529 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -0px -900px;
}

.challenge-idx-461, .challenge-2531 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -150px -900px;
}

.challenge-idx-462, .challenge-2532 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -300px -900px;
}

.challenge-idx-463, .challenge-2533 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -450px -900px;
}

.challenge-idx-464, .challenge-2534 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -600px -900px;
}

.challenge-idx-465, .challenge-2535 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -750px -900px;
}

.challenge-idx-466, .challenge-2536 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -900px -900px;
}

.challenge-idx-467, .challenge-2537 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1050px -900px;
}

.challenge-idx-468, .challenge-2539 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1200px -900px;
}

.challenge-idx-469, .challenge-2552 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1350px -900px;
}

.challenge-idx-470, .challenge-2553 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -0px -1050px;
}

.challenge-idx-471, .challenge-2555 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -150px -1050px;
}

.challenge-idx-472, .challenge-2556 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -300px -1050px;
}

.challenge-idx-473, .challenge-2557 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -450px -1050px;
}

.challenge-idx-474, .challenge-2558 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -600px -1050px;
}

.challenge-idx-475, .challenge-2559 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -750px -1050px;
}

.challenge-idx-476, .challenge-2560 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -900px -1050px;
}

.challenge-idx-477, .challenge-2565 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1050px -1050px;
}

.challenge-idx-478, .challenge-2566 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1200px -1050px;
}

.challenge-idx-479, .challenge-2567 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1350px -1050px;
}

.challenge-idx-480, .challenge-2570 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -0px -1200px;
}

.challenge-idx-481, .challenge-2571 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -150px -1200px;
}

.challenge-idx-482, .challenge-2572 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -300px -1200px;
}

.challenge-idx-483, .challenge-2573 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -450px -1200px;
}

.challenge-idx-484, .challenge-2574 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -600px -1200px;
}

.challenge-idx-485, .challenge-2575 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -750px -1200px;
}

.challenge-idx-486, .challenge-2576 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -900px -1200px;
}

.challenge-idx-487, .challenge-2577 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1050px -1200px;
}

.challenge-idx-488, .challenge-2578 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1200px -1200px;
}

.challenge-idx-489, .challenge-2579 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1350px -1200px;
}

.challenge-idx-490, .challenge-2580 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -0px -1350px;
}

.challenge-idx-491, .challenge-2581 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -150px -1350px;
}

.challenge-idx-492, .challenge-2582 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -300px -1350px;
}

.challenge-idx-493, .challenge-2583 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -450px -1350px;
}

.challenge-idx-494, .challenge-2584 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -600px -1350px;
}

.challenge-idx-495, .challenge-2586 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -750px -1350px;
}

.challenge-idx-496, .challenge-2587 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -900px -1350px;
}

.challenge-idx-497, .challenge-2588 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1050px -1350px;
}

.challenge-idx-498, .challenge-2589 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1200px -1350px;
}

.challenge-idx-499, .challenge-2590 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_400_500.png') -1350px -1350px;
}