.challenge-idx-500, .challenge-2591 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -0px -0px;
}

.challenge-idx-501, .challenge-2592 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -150px -0px;
}

.challenge-idx-502, .challenge-2593 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -300px -0px;
}

.challenge-idx-503, .challenge-2594 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -450px -0px;
}

.challenge-idx-504, .challenge-2595 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -600px -0px;
}

.challenge-idx-505, .challenge-2596 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -750px -0px;
}

.challenge-idx-506, .challenge-2597 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -900px -0px;
}

.challenge-idx-507, .challenge-2599 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1050px -0px;
}

.challenge-idx-508, .challenge-2601 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1200px -0px;
}

.challenge-idx-509, .challenge-2602 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1350px -0px;
}

.challenge-idx-510, .challenge-2603 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -0px -150px;
}

.challenge-idx-511, .challenge-2617 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -150px -150px;
}

.challenge-idx-512, .challenge-2618 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -300px -150px;
}

.challenge-idx-513, .challenge-2619 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -450px -150px;
}

.challenge-idx-514, .challenge-2630 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -600px -150px;
}

.challenge-idx-515, .challenge-2631 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -750px -150px;
}

.challenge-idx-516, .challenge-2632 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -900px -150px;
}

.challenge-idx-517, .challenge-2633 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1050px -150px;
}

.challenge-idx-518, .challenge-2634 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1200px -150px;
}

.challenge-idx-519, .challenge-2635 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1350px -150px;
}

.challenge-idx-520, .challenge-2636 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -0px -300px;
}

.challenge-idx-521, .challenge-2637 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -150px -300px;
}

.challenge-idx-522, .challenge-2638 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -300px -300px;
}

.challenge-idx-523, .challenge-2639 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -450px -300px;
}

.challenge-idx-524, .challenge-2640 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -600px -300px;
}

.challenge-idx-525, .challenge-2641 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -750px -300px;
}

.challenge-idx-526, .challenge-2647 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -900px -300px;
}

.challenge-idx-527, .challenge-2648 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1050px -300px;
}

.challenge-idx-528, .challenge-2649 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1200px -300px;
}

.challenge-idx-529, .challenge-2651 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1350px -300px;
}

.challenge-idx-530, .challenge-2652 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -0px -450px;
}

.challenge-idx-531, .challenge-2653 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -150px -450px;
}

.challenge-idx-532, .challenge-2654 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -300px -450px;
}

.challenge-idx-533, .challenge-2655 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -450px -450px;
}

.challenge-idx-534, .challenge-2657 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -600px -450px;
}

.challenge-idx-535, .challenge-2659 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -750px -450px;
}

.challenge-idx-536, .challenge-2660 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -900px -450px;
}

.challenge-idx-537, .challenge-2661 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1050px -450px;
}

.challenge-idx-538, .challenge-2662 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1200px -450px;
}

.challenge-idx-539, .challenge-2663 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1350px -450px;
}

.challenge-idx-540, .challenge-2664 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -0px -600px;
}

.challenge-idx-541, .challenge-2665 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -150px -600px;
}

.challenge-idx-542, .challenge-2666 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -300px -600px;
}

.challenge-idx-543, .challenge-2667 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -450px -600px;
}

.challenge-idx-544, .challenge-2669 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -600px -600px;
}

.challenge-idx-545, .challenge-2670 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -750px -600px;
}

.challenge-idx-546, .challenge-2671 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -900px -600px;
}

.challenge-idx-547, .challenge-2672 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1050px -600px;
}

.challenge-idx-548, .challenge-2676 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1200px -600px;
}

.challenge-idx-549, .challenge-2677 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1350px -600px;
}

.challenge-idx-550, .challenge-2678 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -0px -750px;
}

.challenge-idx-551, .challenge-2679 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -150px -750px;
}

.challenge-idx-552, .challenge-2695 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -300px -750px;
}

.challenge-idx-553, .challenge-2696 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -450px -750px;
}

.challenge-idx-554, .challenge-2697 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -600px -750px;
}

.challenge-idx-555, .challenge-2698 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -750px -750px;
}

.challenge-idx-556, .challenge-2699 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -900px -750px;
}

.challenge-idx-557, .challenge-2700 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1050px -750px;
}

.challenge-idx-558, .challenge-2702 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1200px -750px;
}

.challenge-idx-559, .challenge-2704 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1350px -750px;
}

.challenge-idx-560, .challenge-2705 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -0px -900px;
}

.challenge-idx-561, .challenge-2707 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -150px -900px;
}

.challenge-idx-562, .challenge-2708 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -300px -900px;
}

.challenge-idx-563, .challenge-2710 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -450px -900px;
}

.challenge-idx-564, .challenge-2711 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -600px -900px;
}

.challenge-idx-565, .challenge-2712 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -750px -900px;
}

.challenge-idx-566, .challenge-2713 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -900px -900px;
}

.challenge-idx-567, .challenge-2714 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1050px -900px;
}

.challenge-idx-568, .challenge-2718 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1200px -900px;
}

.challenge-idx-569, .challenge-2719 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1350px -900px;
}

.challenge-idx-570, .challenge-2720 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -0px -1050px;
}

.challenge-idx-571, .challenge-2722 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -150px -1050px;
}

.challenge-idx-572, .challenge-2723 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -300px -1050px;
}

.challenge-idx-573, .challenge-2724 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -450px -1050px;
}

.challenge-idx-574, .challenge-2726 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -600px -1050px;
}

.challenge-idx-575, .challenge-2727 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -750px -1050px;
}

.challenge-idx-576, .challenge-2728 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -900px -1050px;
}

.challenge-idx-577, .challenge-2729 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1050px -1050px;
}

.challenge-idx-578, .challenge-2733 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1200px -1050px;
}

.challenge-idx-579, .challenge-2735 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1350px -1050px;
}

.challenge-idx-580, .challenge-2736 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -0px -1200px;
}

.challenge-idx-581, .challenge-2737 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -150px -1200px;
}

.challenge-idx-582, .challenge-2738 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -300px -1200px;
}

.challenge-idx-583, .challenge-2739 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -450px -1200px;
}

.challenge-idx-584, .challenge-2740 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -600px -1200px;
}

.challenge-idx-585, .challenge-2754 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -750px -1200px;
}

.challenge-idx-586, .challenge-2755 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -900px -1200px;
}

.challenge-idx-587, .challenge-2756 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1050px -1200px;
}

.challenge-idx-588, .challenge-2757 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1200px -1200px;
}

.challenge-idx-589, .challenge-2758 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1350px -1200px;
}

.challenge-idx-590, .challenge-2759 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -0px -1350px;
}

.challenge-idx-591, .challenge-2760 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -150px -1350px;
}

.challenge-idx-592, .challenge-2761 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -300px -1350px;
}

.challenge-idx-593, .challenge-2762 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -450px -1350px;
}

.challenge-idx-594, .challenge-2763 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -600px -1350px;
}

.challenge-idx-595, .challenge-2764 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -750px -1350px;
}

.challenge-idx-596, .challenge-2765 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -900px -1350px;
}

.challenge-idx-597, .challenge-2766 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1050px -1350px;
}

.challenge-idx-598, .challenge-2767 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1200px -1350px;
}

.challenge-idx-599, .challenge-2769 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_500_600.png') -1350px -1350px;
}