.challenge-idx-600, .challenge-2770 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -0px -0px;
}

.challenge-idx-601, .challenge-2771 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -150px -0px;
}

.challenge-idx-602, .challenge-2772 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -300px -0px;
}

.challenge-idx-603, .challenge-2773 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -450px -0px;
}

.challenge-idx-604, .challenge-2775 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -600px -0px;
}

.challenge-idx-605, .challenge-2778 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -750px -0px;
}

.challenge-idx-606, .challenge-2779 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -900px -0px;
}

.challenge-idx-607, .challenge-2780 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1050px -0px;
}

.challenge-idx-608, .challenge-2782 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1200px -0px;
}

.challenge-idx-609, .challenge-2783 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1350px -0px;
}

.challenge-idx-610, .challenge-2784 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -0px -150px;
}

.challenge-idx-611, .challenge-2785 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -150px -150px;
}

.challenge-idx-612, .challenge-2786 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -300px -150px;
}

.challenge-idx-613, .challenge-2801 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -450px -150px;
}

.challenge-idx-614, .challenge-2802 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -600px -150px;
}

.challenge-idx-615, .challenge-2803 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -750px -150px;
}

.challenge-idx-616, .challenge-2804 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -900px -150px;
}

.challenge-idx-617, .challenge-2806 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1050px -150px;
}

.challenge-idx-618, .challenge-2807 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1200px -150px;
}

.challenge-idx-619, .challenge-2808 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1350px -150px;
}

.challenge-idx-620, .challenge-2809 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -0px -300px;
}

.challenge-idx-621, .challenge-2810 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -150px -300px;
}

.challenge-idx-622, .challenge-2811 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -300px -300px;
}

.challenge-idx-623, .challenge-2812 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -450px -300px;
}

.challenge-idx-624, .challenge-2813 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -600px -300px;
}

.challenge-idx-625, .challenge-2814 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -750px -300px;
}

.challenge-idx-626, .challenge-2815 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -900px -300px;
}

.challenge-idx-627, .challenge-2816 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1050px -300px;
}

.challenge-idx-628, .challenge-2817 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1200px -300px;
}

.challenge-idx-629, .challenge-2818 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1350px -300px;
}

.challenge-idx-630, .challenge-2819 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -0px -450px;
}

.challenge-idx-631, .challenge-2820 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -150px -450px;
}

.challenge-idx-632, .challenge-2821 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -300px -450px;
}

.challenge-idx-633, .challenge-2822 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -450px -450px;
}

.challenge-idx-634, .challenge-2823 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -600px -450px;
}

.challenge-idx-635, .challenge-2824 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -750px -450px;
}

.challenge-idx-636, .challenge-2825 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -900px -450px;
}

.challenge-idx-637, .challenge-2826 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1050px -450px;
}

.challenge-idx-638, .challenge-2827 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1200px -450px;
}

.challenge-idx-639, .challenge-2828 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1350px -450px;
}

.challenge-idx-640, .challenge-2829 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -0px -600px;
}

.challenge-idx-641, .challenge-2830 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -150px -600px;
}

.challenge-idx-642, .challenge-2832 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -300px -600px;
}

.challenge-idx-643, .challenge-2834 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -450px -600px;
}

.challenge-idx-644, .challenge-2836 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -600px -600px;
}

.challenge-idx-645, .challenge-2837 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -750px -600px;
}

.challenge-idx-646, .challenge-2839 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -900px -600px;
}

.challenge-idx-647, .challenge-2840 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1050px -600px;
}

.challenge-idx-648, .challenge-2841 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1200px -600px;
}

.challenge-idx-649, .challenge-2843 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1350px -600px;
}

.challenge-idx-650, .challenge-2844 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -0px -750px;
}

.challenge-idx-651, .challenge-2845 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -150px -750px;
}

.challenge-idx-652, .challenge-2846 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -300px -750px;
}

.challenge-idx-653, .challenge-2847 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -450px -750px;
}

.challenge-idx-654, .challenge-2850 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -600px -750px;
}

.challenge-idx-655, .challenge-2866 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -750px -750px;
}

.challenge-idx-656, .challenge-2867 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -900px -750px;
}

.challenge-idx-657, .challenge-2868 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1050px -750px;
}

.challenge-idx-658, .challenge-2870 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1200px -750px;
}

.challenge-idx-659, .challenge-2872 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1350px -750px;
}

.challenge-idx-660, .challenge-2873 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -0px -900px;
}

.challenge-idx-661, .challenge-2874 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -150px -900px;
}

.challenge-idx-662, .challenge-2875 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -300px -900px;
}

.challenge-idx-663, .challenge-2876 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -450px -900px;
}

.challenge-idx-664, .challenge-2877 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -600px -900px;
}

.challenge-idx-665, .challenge-2878 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -750px -900px;
}

.challenge-idx-666, .challenge-2879 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -900px -900px;
}

.challenge-idx-667, .challenge-2880 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1050px -900px;
}

.challenge-idx-668, .challenge-2881 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1200px -900px;
}

.challenge-idx-669, .challenge-2882 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1350px -900px;
}

.challenge-idx-670, .challenge-2909 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -0px -1050px;
}

.challenge-idx-671, .challenge-2911 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -150px -1050px;
}

.challenge-idx-672, .challenge-2913 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -300px -1050px;
}

.challenge-idx-673, .challenge-2914 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -450px -1050px;
}

.challenge-idx-674, .challenge-2916 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -600px -1050px;
}

.challenge-idx-675, .challenge-2919 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -750px -1050px;
}

.challenge-idx-676, .challenge-2920 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -900px -1050px;
}

.challenge-idx-677, .challenge-2921 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1050px -1050px;
}

.challenge-idx-678, .challenge-2922 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1200px -1050px;
}

.challenge-idx-679, .challenge-2923 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1350px -1050px;
}

.challenge-idx-680, .challenge-2924 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -0px -1200px;
}

.challenge-idx-681, .challenge-2925 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -150px -1200px;
}

.challenge-idx-682, .challenge-2929 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -300px -1200px;
}

.challenge-idx-683, .challenge-2930 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -450px -1200px;
}

.challenge-idx-684, .challenge-2931 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -600px -1200px;
}

.challenge-idx-685, .challenge-2932 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -750px -1200px;
}

.challenge-idx-686, .challenge-2933 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -900px -1200px;
}

.challenge-idx-687, .challenge-2934 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1050px -1200px;
}

.challenge-idx-688, .challenge-2935 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1200px -1200px;
}

.challenge-idx-689, .challenge-2936 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1350px -1200px;
}

.challenge-idx-690, .challenge-2937 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -0px -1350px;
}

.challenge-idx-691, .challenge-2938 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -150px -1350px;
}

.challenge-idx-692, .challenge-2939 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -300px -1350px;
}

.challenge-idx-693, .challenge-2940 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -450px -1350px;
}

.challenge-idx-694, .challenge-2942 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -600px -1350px;
}

.challenge-idx-695, .challenge-2943 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -750px -1350px;
}

.challenge-idx-696, .challenge-2944 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -900px -1350px;
}

.challenge-idx-697, .challenge-2945 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1050px -1350px;
}

.challenge-idx-698, .challenge-2946 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1200px -1350px;
}

.challenge-idx-699, .challenge-2947 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_600_700.png') -1350px -1350px;
}