.challenge-idx-1200, .challenge-3907 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -0px -0px;
}

.challenge-idx-1201, .challenge-3916 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -150px -0px;
}

.challenge-idx-1202, .challenge-3917 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -300px -0px;
}

.challenge-idx-1203, .challenge-3918 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -450px -0px;
}

.challenge-idx-1204, .challenge-3919 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -600px -0px;
}

.challenge-idx-1205, .challenge-3920 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -750px -0px;
}

.challenge-idx-1206, .challenge-3921 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -900px -0px;
}

.challenge-idx-1207, .challenge-3922 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1050px -0px;
}

.challenge-idx-1208, .challenge-3924 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1200px -0px;
}

.challenge-idx-1209, .challenge-3925 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1350px -0px;
}

.challenge-idx-1210, .challenge-3926 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -0px -150px;
}

.challenge-idx-1211, .challenge-3927 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -150px -150px;
}

.challenge-idx-1212, .challenge-3928 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -300px -150px;
}

.challenge-idx-1213, .challenge-3929 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -450px -150px;
}

.challenge-idx-1214, .challenge-3930 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -600px -150px;
}

.challenge-idx-1215, .challenge-3932 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -750px -150px;
}

.challenge-idx-1216, .challenge-3947 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -900px -150px;
}

.challenge-idx-1217, .challenge-3951 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1050px -150px;
}

.challenge-idx-1218, .challenge-3952 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1200px -150px;
}

.challenge-idx-1219, .challenge-3955 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1350px -150px;
}

.challenge-idx-1220, .challenge-3956 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -0px -300px;
}

.challenge-idx-1221, .challenge-3957 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -150px -300px;
}

.challenge-idx-1222, .challenge-3958 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -300px -300px;
}

.challenge-idx-1223, .challenge-3960 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -450px -300px;
}

.challenge-idx-1224, .challenge-3961 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -600px -300px;
}

.challenge-idx-1225, .challenge-3962 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -750px -300px;
}

.challenge-idx-1226, .challenge-3963 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -900px -300px;
}

.challenge-idx-1227, .challenge-3964 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1050px -300px;
}

.challenge-idx-1228, .challenge-3973 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1200px -300px;
}

.challenge-idx-1229, .challenge-3975 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1350px -300px;
}

.challenge-idx-1230, .challenge-3987 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -0px -450px;
}

.challenge-idx-1231, .challenge-3988 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -150px -450px;
}

.challenge-idx-1232, .challenge-3989 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -300px -450px;
}

.challenge-idx-1233, .challenge-3990 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -450px -450px;
}

.challenge-idx-1234, .challenge-3992 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -600px -450px;
}

.challenge-idx-1235, .challenge-3993 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -750px -450px;
}

.challenge-idx-1236, .challenge-3998 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -900px -450px;
}

.challenge-idx-1237, .challenge-3999 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1050px -450px;
}

.challenge-idx-1238, .challenge-4001 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1200px -450px;
}

.challenge-idx-1239, .challenge-4003 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1350px -450px;
}

.challenge-idx-1240, .challenge-4004 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -0px -600px;
}

.challenge-idx-1241, .challenge-4018 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -150px -600px;
}

.challenge-idx-1242, .challenge-4020 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -300px -600px;
}

.challenge-idx-1243, .challenge-4022 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -450px -600px;
}

.challenge-idx-1244, .challenge-4023 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -600px -600px;
}

.challenge-idx-1245, .challenge-4024 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -750px -600px;
}

.challenge-idx-1246, .challenge-4025 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -900px -600px;
}

.challenge-idx-1247, .challenge-4026 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1050px -600px;
}

.challenge-idx-1248, .challenge-4027 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1200px -600px;
}

.challenge-idx-1249, .challenge-4029 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1350px -600px;
}

.challenge-idx-1250, .challenge-4030 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -0px -750px;
}

.challenge-idx-1251, .challenge-4031 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -150px -750px;
}

.challenge-idx-1252, .challenge-4032 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -300px -750px;
}

.challenge-idx-1253, .challenge-4034 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -450px -750px;
}

.challenge-idx-1254, .challenge-4035 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -600px -750px;
}

.challenge-idx-1255, .challenge-4036 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -750px -750px;
}

.challenge-idx-1256, .challenge-4037 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -900px -750px;
}

.challenge-idx-1257, .challenge-4038 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1050px -750px;
}

.challenge-idx-1258, .challenge-4039 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1200px -750px;
}

.challenge-idx-1259, .challenge-4058 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1350px -750px;
}

.challenge-idx-1260, .challenge-4060 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -0px -900px;
}

.challenge-idx-1261, .challenge-4061 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -150px -900px;
}

.challenge-idx-1262, .challenge-4062 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -300px -900px;
}

.challenge-idx-1263, .challenge-4063 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -450px -900px;
}

.challenge-idx-1264, .challenge-4070 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -600px -900px;
}

.challenge-idx-1265, .challenge-4071 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -750px -900px;
}

.challenge-idx-1266, .challenge-4072 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -900px -900px;
}

.challenge-idx-1267, .challenge-4074 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1050px -900px;
}

.challenge-idx-1268, .challenge-4075 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1200px -900px;
}

.challenge-idx-1269, .challenge-4076 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1350px -900px;
}

.challenge-idx-1270, .challenge-4079 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -0px -1050px;
}

.challenge-idx-1271, .challenge-4080 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -150px -1050px;
}

.challenge-idx-1272, .challenge-4081 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -300px -1050px;
}

.challenge-idx-1273, .challenge-4082 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -450px -1050px;
}

.challenge-idx-1274, .challenge-4083 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -600px -1050px;
}

.challenge-idx-1275, .challenge-4085 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -750px -1050px;
}

.challenge-idx-1276, .challenge-4092 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -900px -1050px;
}

.challenge-idx-1277, .challenge-4093 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1050px -1050px;
}

.challenge-idx-1278, .challenge-4094 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1200px -1050px;
}

.challenge-idx-1279, .challenge-4096 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1350px -1050px;
}

.challenge-idx-1280, .challenge-4097 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -0px -1200px;
}

.challenge-idx-1281, .challenge-4098 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -150px -1200px;
}

.challenge-idx-1282, .challenge-4100 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -300px -1200px;
}

.challenge-idx-1283, .challenge-4102 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -450px -1200px;
}

.challenge-idx-1284, .challenge-4119 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -600px -1200px;
}

.challenge-idx-1285, .challenge-4120 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -750px -1200px;
}

.challenge-idx-1286, .challenge-4121 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -900px -1200px;
}

.challenge-idx-1287, .challenge-4122 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1050px -1200px;
}

.challenge-idx-1288, .challenge-4123 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1200px -1200px;
}

.challenge-idx-1289, .challenge-4129 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1350px -1200px;
}

.challenge-idx-1290, .challenge-4131 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -0px -1350px;
}

.challenge-idx-1291, .challenge-4132 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -150px -1350px;
}

.challenge-idx-1292, .challenge-4133 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -300px -1350px;
}

.challenge-idx-1293, .challenge-4134 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -450px -1350px;
}

.challenge-idx-1294, .challenge-4136 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -600px -1350px;
}

.challenge-idx-1295, .challenge-4137 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -750px -1350px;
}

.challenge-idx-1296, .challenge-4151 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -900px -1350px;
}

.challenge-idx-1297, .challenge-4154 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1050px -1350px;
}

.challenge-idx-1298, .challenge-4155 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1200px -1350px;
}

.challenge-idx-1299, .challenge-4156 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1200_1300.png') -1350px -1350px;
}