.challenge-idx-700, .challenge-2948 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -0px -0px;
}

.challenge-idx-701, .challenge-2949 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -150px -0px;
}

.challenge-idx-702, .challenge-2950 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -300px -0px;
}

.challenge-idx-703, .challenge-2952 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -450px -0px;
}

.challenge-idx-704, .challenge-2953 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -600px -0px;
}

.challenge-idx-705, .challenge-2954 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -750px -0px;
}

.challenge-idx-706, .challenge-2955 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -900px -0px;
}

.challenge-idx-707, .challenge-2956 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1050px -0px;
}

.challenge-idx-708, .challenge-2957 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1200px -0px;
}

.challenge-idx-709, .challenge-2959 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1350px -0px;
}

.challenge-idx-710, .challenge-2960 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -0px -150px;
}

.challenge-idx-711, .challenge-2961 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -150px -150px;
}

.challenge-idx-712, .challenge-2962 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -300px -150px;
}

.challenge-idx-713, .challenge-2963 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -450px -150px;
}

.challenge-idx-714, .challenge-2964 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -600px -150px;
}

.challenge-idx-715, .challenge-2965 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -750px -150px;
}

.challenge-idx-716, .challenge-2966 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -900px -150px;
}

.challenge-idx-717, .challenge-2968 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1050px -150px;
}

.challenge-idx-718, .challenge-2981 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1200px -150px;
}

.challenge-idx-719, .challenge-2986 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1350px -150px;
}

.challenge-idx-720, .challenge-2989 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -0px -300px;
}

.challenge-idx-721, .challenge-2990 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -150px -300px;
}

.challenge-idx-722, .challenge-2991 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -300px -300px;
}

.challenge-idx-723, .challenge-2992 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -450px -300px;
}

.challenge-idx-724, .challenge-3000 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -600px -300px;
}

.challenge-idx-725, .challenge-3000 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -750px -300px;
}

.challenge-idx-726, .challenge-3001 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -900px -300px;
}

.challenge-idx-727, .challenge-3003 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1050px -300px;
}

.challenge-idx-728, .challenge-3004 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1200px -300px;
}

.challenge-idx-729, .challenge-3005 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1350px -300px;
}

.challenge-idx-730, .challenge-3006 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -0px -450px;
}

.challenge-idx-731, .challenge-3008 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -150px -450px;
}

.challenge-idx-732, .challenge-3009 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -300px -450px;
}

.challenge-idx-733, .challenge-3010 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -450px -450px;
}

.challenge-idx-734, .challenge-3011 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -600px -450px;
}

.challenge-idx-735, .challenge-3012 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -750px -450px;
}

.challenge-idx-736, .challenge-3013 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -900px -450px;
}

.challenge-idx-737, .challenge-3014 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1050px -450px;
}

.challenge-idx-738, .challenge-3028 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1200px -450px;
}

.challenge-idx-739, .challenge-3029 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1350px -450px;
}

.challenge-idx-740, .challenge-3032 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -0px -600px;
}

.challenge-idx-741, .challenge-3033 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -150px -600px;
}

.challenge-idx-742, .challenge-3034 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -300px -600px;
}

.challenge-idx-743, .challenge-3035 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -450px -600px;
}

.challenge-idx-744, .challenge-3036 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -600px -600px;
}

.challenge-idx-745, .challenge-3037 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -750px -600px;
}

.challenge-idx-746, .challenge-3038 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -900px -600px;
}

.challenge-idx-747, .challenge-3039 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1050px -600px;
}

.challenge-idx-748, .challenge-3040 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1200px -600px;
}

.challenge-idx-749, .challenge-3041 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1350px -600px;
}

.challenge-idx-750, .challenge-3043 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -0px -750px;
}

.challenge-idx-751, .challenge-3044 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -150px -750px;
}

.challenge-idx-752, .challenge-3045 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -300px -750px;
}

.challenge-idx-753, .challenge-3046 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -450px -750px;
}

.challenge-idx-754, .challenge-3047 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -600px -750px;
}

.challenge-idx-755, .challenge-3048 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -750px -750px;
}

.challenge-idx-756, .challenge-3049 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -900px -750px;
}

.challenge-idx-757, .challenge-3050 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1050px -750px;
}

.challenge-idx-758, .challenge-3053 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1200px -750px;
}

.challenge-idx-759, .challenge-3054 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1350px -750px;
}

.challenge-idx-760, .challenge-3056 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -0px -900px;
}

.challenge-idx-761, .challenge-3057 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -150px -900px;
}

.challenge-idx-762, .challenge-3058 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -300px -900px;
}

.challenge-idx-763, .challenge-3059 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -450px -900px;
}

.challenge-idx-764, .challenge-3061 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -600px -900px;
}

.challenge-idx-765, .challenge-3063 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -750px -900px;
}

.challenge-idx-766, .challenge-3066 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -900px -900px;
}

.challenge-idx-767, .challenge-3067 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1050px -900px;
}

.challenge-idx-768, .challenge-3068 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1200px -900px;
}

.challenge-idx-769, .challenge-3069 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1350px -900px;
}

.challenge-idx-770, .challenge-3070 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -0px -1050px;
}

.challenge-idx-771, .challenge-3071 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -150px -1050px;
}

.challenge-idx-772, .challenge-3072 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -300px -1050px;
}

.challenge-idx-773, .challenge-3073 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -450px -1050px;
}

.challenge-idx-774, .challenge-3075 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -600px -1050px;
}

.challenge-idx-775, .challenge-3076 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -750px -1050px;
}

.challenge-idx-776, .challenge-3077 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -900px -1050px;
}

.challenge-idx-777, .challenge-3079 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1050px -1050px;
}

.challenge-idx-778, .challenge-3080 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1200px -1050px;
}

.challenge-idx-779, .challenge-3082 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1350px -1050px;
}

.challenge-idx-780, .challenge-3083 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -0px -1200px;
}

.challenge-idx-781, .challenge-3084 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -150px -1200px;
}

.challenge-idx-782, .challenge-3085 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -300px -1200px;
}

.challenge-idx-783, .challenge-3086 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -450px -1200px;
}

.challenge-idx-784, .challenge-3087 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -600px -1200px;
}

.challenge-idx-785, .challenge-3088 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -750px -1200px;
}

.challenge-idx-786, .challenge-3089 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -900px -1200px;
}

.challenge-idx-787, .challenge-3090 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1050px -1200px;
}

.challenge-idx-788, .challenge-3091 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1200px -1200px;
}

.challenge-idx-789, .challenge-3093 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1350px -1200px;
}

.challenge-idx-790, .challenge-3094 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -0px -1350px;
}

.challenge-idx-791, .challenge-3096 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -150px -1350px;
}

.challenge-idx-792, .challenge-3097 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -300px -1350px;
}

.challenge-idx-793, .challenge-3098 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -450px -1350px;
}

.challenge-idx-794, .challenge-3099 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -600px -1350px;
}

.challenge-idx-795, .challenge-3101 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -750px -1350px;
}

.challenge-idx-796, .challenge-3102 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -900px -1350px;
}

.challenge-idx-797, .challenge-3103 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1050px -1350px;
}

.challenge-idx-798, .challenge-3118 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1200px -1350px;
}

.challenge-idx-799, .challenge-3119 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_700_800.png') -1350px -1350px;
}