.challenge-idx-1250, .challenge-4030 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -0px -0px;
}

.challenge-idx-1251, .challenge-4031 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -150px -0px;
}

.challenge-idx-1252, .challenge-4032 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -300px -0px;
}

.challenge-idx-1253, .challenge-4034 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -450px -0px;
}

.challenge-idx-1254, .challenge-4035 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -600px -0px;
}

.challenge-idx-1255, .challenge-4036 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -750px -0px;
}

.challenge-idx-1256, .challenge-4037 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -900px -0px;
}

.challenge-idx-1257, .challenge-4038 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1050px -0px;
}

.challenge-idx-1258, .challenge-4039 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1200px -0px;
}

.challenge-idx-1259, .challenge-4058 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1350px -0px;
}

.challenge-idx-1260, .challenge-4060 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -0px -150px;
}

.challenge-idx-1261, .challenge-4061 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -150px -150px;
}

.challenge-idx-1262, .challenge-4062 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -300px -150px;
}

.challenge-idx-1263, .challenge-4063 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -450px -150px;
}

.challenge-idx-1264, .challenge-4070 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -600px -150px;
}

.challenge-idx-1265, .challenge-4071 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -750px -150px;
}

.challenge-idx-1266, .challenge-4072 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -900px -150px;
}

.challenge-idx-1267, .challenge-4074 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1050px -150px;
}

.challenge-idx-1268, .challenge-4075 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1200px -150px;
}

.challenge-idx-1269, .challenge-4076 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1350px -150px;
}

.challenge-idx-1270, .challenge-4079 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -0px -300px;
}

.challenge-idx-1271, .challenge-4080 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -150px -300px;
}

.challenge-idx-1272, .challenge-4081 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -300px -300px;
}

.challenge-idx-1273, .challenge-4082 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -450px -300px;
}

.challenge-idx-1274, .challenge-4083 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -600px -300px;
}

.challenge-idx-1275, .challenge-4085 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -750px -300px;
}

.challenge-idx-1276, .challenge-4092 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -900px -300px;
}

.challenge-idx-1277, .challenge-4093 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1050px -300px;
}

.challenge-idx-1278, .challenge-4094 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1200px -300px;
}

.challenge-idx-1279, .challenge-4096 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1350px -300px;
}

.challenge-idx-1280, .challenge-4097 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -0px -450px;
}

.challenge-idx-1281, .challenge-4098 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -150px -450px;
}

.challenge-idx-1282, .challenge-4100 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -300px -450px;
}

.challenge-idx-1283, .challenge-4102 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -450px -450px;
}

.challenge-idx-1284, .challenge-4119 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -600px -450px;
}

.challenge-idx-1285, .challenge-4120 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -750px -450px;
}

.challenge-idx-1286, .challenge-4121 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -900px -450px;
}

.challenge-idx-1287, .challenge-4122 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1050px -450px;
}

.challenge-idx-1288, .challenge-4123 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1200px -450px;
}

.challenge-idx-1289, .challenge-4129 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1350px -450px;
}

.challenge-idx-1290, .challenge-4131 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -0px -600px;
}

.challenge-idx-1291, .challenge-4132 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -150px -600px;
}

.challenge-idx-1292, .challenge-4133 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -300px -600px;
}

.challenge-idx-1293, .challenge-4134 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -450px -600px;
}

.challenge-idx-1294, .challenge-4136 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -600px -600px;
}

.challenge-idx-1295, .challenge-4137 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -750px -600px;
}

.challenge-idx-1296, .challenge-4151 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -900px -600px;
}

.challenge-idx-1297, .challenge-4154 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1050px -600px;
}

.challenge-idx-1298, .challenge-4155 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1200px -600px;
}

.challenge-idx-1299, .challenge-4156 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1350px -600px;
}

.challenge-idx-1300, .challenge-4157 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -0px -750px;
}

.challenge-idx-1301, .challenge-4158 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -150px -750px;
}

.challenge-idx-1302, .challenge-4159 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -300px -750px;
}

.challenge-idx-1303, .challenge-4160 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -450px -750px;
}

.challenge-idx-1304, .challenge-4161 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -600px -750px;
}

.challenge-idx-1305, .challenge-4162 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -750px -750px;
}

.challenge-idx-1306, .challenge-4164 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -900px -750px;
}

.challenge-idx-1307, .challenge-4168 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1050px -750px;
}

.challenge-idx-1308, .challenge-4169 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1200px -750px;
}

.challenge-idx-1309, .challenge-4174 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1350px -750px;
}

.challenge-idx-1310, .challenge-4176 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -0px -900px;
}

.challenge-idx-1311, .challenge-4177 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -150px -900px;
}

.challenge-idx-1312, .challenge-4178 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -300px -900px;
}

.challenge-idx-1313, .challenge-4179 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -450px -900px;
}

.challenge-idx-1314, .challenge-4180 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -600px -900px;
}

.challenge-idx-1315, .challenge-4181 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -750px -900px;
}

.challenge-idx-1316, .challenge-4182 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -900px -900px;
}

.challenge-idx-1317, .challenge-4185 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1050px -900px;
}

.challenge-idx-1318, .challenge-4187 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1200px -900px;
}

.challenge-idx-1319, .challenge-4188 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1350px -900px;
}

.challenge-idx-1320, .challenge-4203 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -0px -1050px;
}

.challenge-idx-1321, .challenge-4204 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -150px -1050px;
}

.challenge-idx-1322, .challenge-4205 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -300px -1050px;
}

.challenge-idx-1323, .challenge-4207 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -450px -1050px;
}

.challenge-idx-1324, .challenge-4208 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -600px -1050px;
}

.challenge-idx-1325, .challenge-4209 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -750px -1050px;
}

.challenge-idx-1326, .challenge-4211 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -900px -1050px;
}

.challenge-idx-1327, .challenge-4212 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1050px -1050px;
}

.challenge-idx-1328, .challenge-4213 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1200px -1050px;
}

.challenge-idx-1329, .challenge-4214 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1350px -1050px;
}

.challenge-idx-1330, .challenge-4216 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -0px -1200px;
}

.challenge-idx-1331, .challenge-4217 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -150px -1200px;
}

.challenge-idx-1332, .challenge-4218 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -300px -1200px;
}

.challenge-idx-1333, .challenge-4220 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -450px -1200px;
}

.challenge-idx-1334, .challenge-4222 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -600px -1200px;
}

.challenge-idx-1335, .challenge-4224 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -750px -1200px;
}

.challenge-idx-1336, .challenge-4225 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -900px -1200px;
}

.challenge-idx-1337, .challenge-4226 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1050px -1200px;
}

.challenge-idx-1338, .challenge-4227 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1200px -1200px;
}

.challenge-idx-1339, .challenge-4230 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1350px -1200px;
}

.challenge-idx-1340, .challenge-4231 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -0px -1350px;
}

.challenge-idx-1341, .challenge-4232 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -150px -1350px;
}

.challenge-idx-1342, .challenge-4246 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -300px -1350px;
}

.challenge-idx-1343, .challenge-4247 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -450px -1350px;
}

.challenge-idx-1344, .challenge-4249 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -600px -1350px;
}

.challenge-idx-1345, .challenge-4251 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -750px -1350px;
}

.challenge-idx-1346, .challenge-4252 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -900px -1350px;
}

.challenge-idx-1347, .challenge-4253 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1050px -1350px;
}

.challenge-idx-1348, .challenge-4255 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1200px -1350px;
}

.challenge-idx-1349, .challenge-4256 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1250_1350.png') -1350px -1350px;
}