.challenge-idx-300, .challenge-2277 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -0px -0px;
}

.challenge-idx-301, .challenge-2279 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -150px -0px;
}

.challenge-idx-302, .challenge-2280 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -300px -0px;
}

.challenge-idx-303, .challenge-2281 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -450px -0px;
}

.challenge-idx-304, .challenge-2282 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -600px -0px;
}

.challenge-idx-305, .challenge-2283 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -750px -0px;
}

.challenge-idx-306, .challenge-2284 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -900px -0px;
}

.challenge-idx-307, .challenge-2285 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1050px -0px;
}

.challenge-idx-308, .challenge-2286 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1200px -0px;
}

.challenge-idx-309, .challenge-2287 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1350px -0px;
}

.challenge-idx-310, .challenge-2288 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -0px -150px;
}

.challenge-idx-311, .challenge-2289 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -150px -150px;
}

.challenge-idx-312, .challenge-2297 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -300px -150px;
}

.challenge-idx-313, .challenge-2304 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -450px -150px;
}

.challenge-idx-314, .challenge-2305 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -600px -150px;
}

.challenge-idx-315, .challenge-2306 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -750px -150px;
}

.challenge-idx-316, .challenge-2308 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -900px -150px;
}

.challenge-idx-317, .challenge-2309 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1050px -150px;
}

.challenge-idx-318, .challenge-2310 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1200px -150px;
}

.challenge-idx-319, .challenge-2311 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1350px -150px;
}

.challenge-idx-320, .challenge-2312 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -0px -300px;
}

.challenge-idx-321, .challenge-2313 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -150px -300px;
}

.challenge-idx-322, .challenge-2315 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -300px -300px;
}

.challenge-idx-323, .challenge-2316 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -450px -300px;
}

.challenge-idx-324, .challenge-2319 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -600px -300px;
}

.challenge-idx-325, .challenge-2320 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -750px -300px;
}

.challenge-idx-326, .challenge-2321 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -900px -300px;
}

.challenge-idx-327, .challenge-2322 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1050px -300px;
}

.challenge-idx-328, .challenge-2323 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1200px -300px;
}

.challenge-idx-329, .challenge-2324 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1350px -300px;
}

.challenge-idx-330, .challenge-2325 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -0px -450px;
}

.challenge-idx-331, .challenge-2326 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -150px -450px;
}

.challenge-idx-332, .challenge-2327 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -300px -450px;
}

.challenge-idx-333, .challenge-2328 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -450px -450px;
}

.challenge-idx-334, .challenge-2344 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -600px -450px;
}

.challenge-idx-335, .challenge-2347 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -750px -450px;
}

.challenge-idx-336, .challenge-2348 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -900px -450px;
}

.challenge-idx-337, .challenge-2349 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1050px -450px;
}

.challenge-idx-338, .challenge-2350 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1200px -450px;
}

.challenge-idx-339, .challenge-2351 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1350px -450px;
}

.challenge-idx-340, .challenge-2352 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -0px -600px;
}

.challenge-idx-341, .challenge-2353 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -150px -600px;
}

.challenge-idx-342, .challenge-2357 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -300px -600px;
}

.challenge-idx-343, .challenge-2358 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -450px -600px;
}

.challenge-idx-344, .challenge-2361 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -600px -600px;
}

.challenge-idx-345, .challenge-2362 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -750px -600px;
}

.challenge-idx-346, .challenge-2363 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -900px -600px;
}

.challenge-idx-347, .challenge-2377 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1050px -600px;
}

.challenge-idx-348, .challenge-2378 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1200px -600px;
}

.challenge-idx-349, .challenge-2379 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1350px -600px;
}

.challenge-idx-350, .challenge-2380 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -0px -750px;
}

.challenge-idx-351, .challenge-2381 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -150px -750px;
}

.challenge-idx-352, .challenge-2382 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -300px -750px;
}

.challenge-idx-353, .challenge-2383 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -450px -750px;
}

.challenge-idx-354, .challenge-2388 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -600px -750px;
}

.challenge-idx-355, .challenge-2389 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -750px -750px;
}

.challenge-idx-356, .challenge-2391 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -900px -750px;
}

.challenge-idx-357, .challenge-2393 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1050px -750px;
}

.challenge-idx-358, .challenge-2394 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1200px -750px;
}

.challenge-idx-359, .challenge-2395 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1350px -750px;
}

.challenge-idx-360, .challenge-2396 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -0px -900px;
}

.challenge-idx-361, .challenge-2397 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -150px -900px;
}

.challenge-idx-362, .challenge-2398 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -300px -900px;
}

.challenge-idx-363, .challenge-2400 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -450px -900px;
}

.challenge-idx-364, .challenge-2401 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -600px -900px;
}

.challenge-idx-365, .challenge-2402 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -750px -900px;
}

.challenge-idx-366, .challenge-2403 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -900px -900px;
}

.challenge-idx-367, .challenge-2406 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1050px -900px;
}

.challenge-idx-368, .challenge-2407 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1200px -900px;
}

.challenge-idx-369, .challenge-2408 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1350px -900px;
}

.challenge-idx-370, .challenge-2409 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -0px -1050px;
}

.challenge-idx-371, .challenge-2410 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -150px -1050px;
}

.challenge-idx-372, .challenge-2411 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -300px -1050px;
}

.challenge-idx-373, .challenge-2412 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -450px -1050px;
}

.challenge-idx-374, .challenge-2413 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -600px -1050px;
}

.challenge-idx-375, .challenge-2414 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -750px -1050px;
}

.challenge-idx-376, .challenge-2415 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -900px -1050px;
}

.challenge-idx-377, .challenge-2416 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1050px -1050px;
}

.challenge-idx-378, .challenge-2418 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1200px -1050px;
}

.challenge-idx-379, .challenge-2419 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1350px -1050px;
}

.challenge-idx-380, .challenge-2420 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -0px -1200px;
}

.challenge-idx-381, .challenge-2421 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -150px -1200px;
}

.challenge-idx-382, .challenge-2423 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -300px -1200px;
}

.challenge-idx-383, .challenge-2424 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -450px -1200px;
}

.challenge-idx-384, .challenge-2425 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -600px -1200px;
}

.challenge-idx-385, .challenge-2426 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -750px -1200px;
}

.challenge-idx-386, .challenge-2427 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -900px -1200px;
}

.challenge-idx-387, .challenge-2428 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1050px -1200px;
}

.challenge-idx-388, .challenge-2429 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1200px -1200px;
}

.challenge-idx-389, .challenge-2430 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1350px -1200px;
}

.challenge-idx-390, .challenge-2431 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -0px -1350px;
}

.challenge-idx-391, .challenge-2433 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -150px -1350px;
}

.challenge-idx-392, .challenge-2434 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -300px -1350px;
}

.challenge-idx-393, .challenge-2435 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -450px -1350px;
}

.challenge-idx-394, .challenge-2436 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -600px -1350px;
}

.challenge-idx-395, .challenge-2437 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -750px -1350px;
}

.challenge-idx-396, .challenge-2438 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -900px -1350px;
}

.challenge-idx-397, .challenge-2439 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1050px -1350px;
}

.challenge-idx-398, .challenge-2440 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1200px -1350px;
}

.challenge-idx-399, .challenge-2441 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_300_400.png') -1350px -1350px;
}