.challenge-idx-2200, .challenge-5760 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -0px -0px;
}

.challenge-idx-2201, .challenge-5761 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -150px -0px;
}

.challenge-idx-2202, .challenge-5762 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -300px -0px;
}

.challenge-idx-2203, .challenge-5763 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -450px -0px;
}

.challenge-idx-2204, .challenge-5764 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -600px -0px;
}

.challenge-idx-2205, .challenge-5765 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -750px -0px;
}

.challenge-idx-2206, .challenge-5766 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -900px -0px;
}

.challenge-idx-2207, .challenge-5768 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1050px -0px;
}

.challenge-idx-2208, .challenge-5770 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1200px -0px;
}

.challenge-idx-2209, .challenge-5771 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1350px -0px;
}

.challenge-idx-2210, .challenge-5772 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -0px -150px;
}

.challenge-idx-2211, .challenge-5773 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -150px -150px;
}

.challenge-idx-2212, .challenge-5774 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -300px -150px;
}

.challenge-idx-2213, .challenge-5775 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -450px -150px;
}

.challenge-idx-2214, .challenge-5776 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -600px -150px;
}

.challenge-idx-2215, .challenge-5778 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -750px -150px;
}

.challenge-idx-2216, .challenge-5779 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -900px -150px;
}

.challenge-idx-2217, .challenge-5780 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1050px -150px;
}

.challenge-idx-2218, .challenge-5782 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1200px -150px;
}

.challenge-idx-2219, .challenge-5783 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1350px -150px;
}

.challenge-idx-2220, .challenge-5784 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -0px -300px;
}

.challenge-idx-2221, .challenge-5785 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -150px -300px;
}

.challenge-idx-2222, .challenge-5786 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -300px -300px;
}

.challenge-idx-2223, .challenge-5787 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -450px -300px;
}

.challenge-idx-2224, .challenge-5788 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -600px -300px;
}

.challenge-idx-2225, .challenge-5789 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -750px -300px;
}

.challenge-idx-2226, .challenge-5797 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -900px -300px;
}

.challenge-idx-2227, .challenge-5805 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1050px -300px;
}

.challenge-idx-2228, .challenge-5806 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1200px -300px;
}

.challenge-idx-2229, .challenge-5807 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1350px -300px;
}

.challenge-idx-2230, .challenge-5808 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -0px -450px;
}

.challenge-idx-2231, .challenge-5809 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -150px -450px;
}

.challenge-idx-2232, .challenge-5810 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -300px -450px;
}

.challenge-idx-2233, .challenge-5811 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -450px -450px;
}

.challenge-idx-2234, .challenge-5812 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -600px -450px;
}

.challenge-idx-2235, .challenge-5813 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -750px -450px;
}

.challenge-idx-2236, .challenge-5815 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -900px -450px;
}

.challenge-idx-2237, .challenge-5816 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1050px -450px;
}

.challenge-idx-2238, .challenge-5824 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1200px -450px;
}

.challenge-idx-2239, .challenge-5826 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1350px -450px;
}

.challenge-idx-2240, .challenge-5827 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -0px -600px;
}

.challenge-idx-2241, .challenge-5828 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -150px -600px;
}

.challenge-idx-2242, .challenge-5829 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -300px -600px;
}

.challenge-idx-2243, .challenge-5830 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -450px -600px;
}

.challenge-idx-2244, .challenge-5831 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -600px -600px;
}

.challenge-idx-2245, .challenge-5832 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -750px -600px;
}

.challenge-idx-2246, .challenge-5833 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -900px -600px;
}

.challenge-idx-2247, .challenge-5834 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1050px -600px;
}

.challenge-idx-2248, .challenge-5835 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1200px -600px;
}

.challenge-idx-2249, .challenge-5836 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1350px -600px;
}

.challenge-idx-2250, .challenge-5837 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -0px -750px;
}

.challenge-idx-2251, .challenge-5838 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -150px -750px;
}

.challenge-idx-2252, .challenge-5839 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -300px -750px;
}

.challenge-idx-2253, .challenge-5841 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -450px -750px;
}

.challenge-idx-2254, .challenge-5842 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -600px -750px;
}

.challenge-idx-2255, .challenge-5843 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -750px -750px;
}

.challenge-idx-2256, .challenge-5844 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -900px -750px;
}

.challenge-idx-2257, .challenge-5845 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1050px -750px;
}

.challenge-idx-2258, .challenge-5846 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1200px -750px;
}

.challenge-idx-2259, .challenge-5847 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1350px -750px;
}

.challenge-idx-2260, .challenge-5848 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -0px -900px;
}

.challenge-idx-2261, .challenge-5849 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -150px -900px;
}

.challenge-idx-2262, .challenge-5851 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -300px -900px;
}

.challenge-idx-2263, .challenge-5852 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -450px -900px;
}

.challenge-idx-2264, .challenge-5853 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -600px -900px;
}

.challenge-idx-2265, .challenge-5854 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -750px -900px;
}

.challenge-idx-2266, .challenge-5855 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -900px -900px;
}

.challenge-idx-2267, .challenge-5856 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1050px -900px;
}

.challenge-idx-2268, .challenge-5857 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1200px -900px;
}

.challenge-idx-2269, .challenge-5858 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1350px -900px;
}

.challenge-idx-2270, .challenge-5874 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -0px -1050px;
}

.challenge-idx-2271, .challenge-5875 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -150px -1050px;
}

.challenge-idx-2272, .challenge-5876 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -300px -1050px;
}

.challenge-idx-2273, .challenge-5877 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -450px -1050px;
}

.challenge-idx-2274, .challenge-5878 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -600px -1050px;
}

.challenge-idx-2275, .challenge-5879 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -750px -1050px;
}

.challenge-idx-2276, .challenge-5880 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -900px -1050px;
}

.challenge-idx-2277, .challenge-5881 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1050px -1050px;
}

.challenge-idx-2278, .challenge-5882 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1200px -1050px;
}

.challenge-idx-2279, .challenge-5883 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1350px -1050px;
}

.challenge-idx-2280, .challenge-5884 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -0px -1200px;
}

.challenge-idx-2281, .challenge-5886 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -150px -1200px;
}

.challenge-idx-2282, .challenge-5887 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -300px -1200px;
}

.challenge-idx-2283, .challenge-5888 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -450px -1200px;
}

.challenge-idx-2284, .challenge-5889 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -600px -1200px;
}

.challenge-idx-2285, .challenge-5890 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -750px -1200px;
}

.challenge-idx-2286, .challenge-5891 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -900px -1200px;
}

.challenge-idx-2287, .challenge-5892 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1050px -1200px;
}

.challenge-idx-2288, .challenge-5893 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1200px -1200px;
}

.challenge-idx-2289, .challenge-5894 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1350px -1200px;
}

.challenge-idx-2290, .challenge-5895 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -0px -1350px;
}

.challenge-idx-2291, .challenge-5896 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -150px -1350px;
}

.challenge-idx-2292, .challenge-5897 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -300px -1350px;
}

.challenge-idx-2293, .challenge-5898 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -450px -1350px;
}

.challenge-idx-2294, .challenge-5899 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -600px -1350px;
}

.challenge-idx-2295, .challenge-5900 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -750px -1350px;
}

.challenge-idx-2296, .challenge-5901 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -900px -1350px;
}

.challenge-idx-2297, .challenge-5902 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1050px -1350px;
}

.challenge-idx-2298, .challenge-5903 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1200px -1350px;
}

.challenge-idx-2299, .challenge-5904 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2200_2300.png') -1350px -1350px;
}