.challenge-idx-1800, .challenge-5146 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -0px -0px;
}

.challenge-idx-1801, .challenge-5147 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -150px -0px;
}

.challenge-idx-1802, .challenge-5148 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -300px -0px;
}

.challenge-idx-1803, .challenge-5149 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -450px -0px;
}

.challenge-idx-1804, .challenge-5150 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -600px -0px;
}

.challenge-idx-1805, .challenge-5151 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -750px -0px;
}

.challenge-idx-1806, .challenge-5152 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -900px -0px;
}

.challenge-idx-1807, .challenge-5153 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1050px -0px;
}

.challenge-idx-1808, .challenge-5154 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1200px -0px;
}

.challenge-idx-1809, .challenge-5155 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1350px -0px;
}

.challenge-idx-1810, .challenge-5156 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -0px -150px;
}

.challenge-idx-1811, .challenge-5157 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -150px -150px;
}

.challenge-idx-1812, .challenge-5158 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -300px -150px;
}

.challenge-idx-1813, .challenge-5160 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -450px -150px;
}

.challenge-idx-1814, .challenge-5161 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -600px -150px;
}

.challenge-idx-1815, .challenge-5163 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -750px -150px;
}

.challenge-idx-1816, .challenge-5164 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -900px -150px;
}

.challenge-idx-1817, .challenge-5166 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1050px -150px;
}

.challenge-idx-1818, .challenge-5167 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1200px -150px;
}

.challenge-idx-1819, .challenge-5168 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1350px -150px;
}

.challenge-idx-1820, .challenge-5169 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -0px -300px;
}

.challenge-idx-1821, .challenge-5170 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -150px -300px;
}

.challenge-idx-1822, .challenge-5171 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -300px -300px;
}

.challenge-idx-1823, .challenge-5173 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -450px -300px;
}

.challenge-idx-1824, .challenge-5174 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -600px -300px;
}

.challenge-idx-1825, .challenge-5175 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -750px -300px;
}

.challenge-idx-1826, .challenge-5176 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -900px -300px;
}

.challenge-idx-1827, .challenge-5177 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1050px -300px;
}

.challenge-idx-1828, .challenge-5178 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1200px -300px;
}

.challenge-idx-1829, .challenge-5179 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1350px -300px;
}

.challenge-idx-1830, .challenge-5180 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -0px -450px;
}

.challenge-idx-1831, .challenge-5181 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -150px -450px;
}

.challenge-idx-1832, .challenge-5182 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -300px -450px;
}

.challenge-idx-1833, .challenge-5183 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -450px -450px;
}

.challenge-idx-1834, .challenge-5184 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -600px -450px;
}

.challenge-idx-1835, .challenge-5185 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -750px -450px;
}

.challenge-idx-1836, .challenge-5187 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -900px -450px;
}

.challenge-idx-1837, .challenge-5188 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1050px -450px;
}

.challenge-idx-1838, .challenge-5189 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1200px -450px;
}

.challenge-idx-1839, .challenge-5191 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1350px -450px;
}

.challenge-idx-1840, .challenge-5192 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -0px -600px;
}

.challenge-idx-1841, .challenge-5193 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -150px -600px;
}

.challenge-idx-1842, .challenge-5194 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -300px -600px;
}

.challenge-idx-1843, .challenge-5196 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -450px -600px;
}

.challenge-idx-1844, .challenge-5197 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -600px -600px;
}

.challenge-idx-1845, .challenge-5209 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -750px -600px;
}

.challenge-idx-1846, .challenge-5210 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -900px -600px;
}

.challenge-idx-1847, .challenge-5211 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1050px -600px;
}

.challenge-idx-1848, .challenge-5212 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1200px -600px;
}

.challenge-idx-1849, .challenge-5213 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1350px -600px;
}

.challenge-idx-1850, .challenge-5214 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -0px -750px;
}

.challenge-idx-1851, .challenge-5215 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -150px -750px;
}

.challenge-idx-1852, .challenge-5216 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -300px -750px;
}

.challenge-idx-1853, .challenge-5217 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -450px -750px;
}

.challenge-idx-1854, .challenge-5218 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -600px -750px;
}

.challenge-idx-1855, .challenge-5219 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -750px -750px;
}

.challenge-idx-1856, .challenge-5221 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -900px -750px;
}

.challenge-idx-1857, .challenge-5222 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1050px -750px;
}

.challenge-idx-1858, .challenge-5223 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1200px -750px;
}

.challenge-idx-1859, .challenge-5224 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1350px -750px;
}

.challenge-idx-1860, .challenge-5225 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -0px -900px;
}

.challenge-idx-1861, .challenge-5226 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -150px -900px;
}

.challenge-idx-1862, .challenge-5228 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -300px -900px;
}

.challenge-idx-1863, .challenge-5229 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -450px -900px;
}

.challenge-idx-1864, .challenge-5230 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -600px -900px;
}

.challenge-idx-1865, .challenge-5231 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -750px -900px;
}

.challenge-idx-1866, .challenge-5232 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -900px -900px;
}

.challenge-idx-1867, .challenge-5233 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1050px -900px;
}

.challenge-idx-1868, .challenge-5234 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1200px -900px;
}

.challenge-idx-1869, .challenge-5235 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1350px -900px;
}

.challenge-idx-1870, .challenge-5236 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -0px -1050px;
}

.challenge-idx-1871, .challenge-5237 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -150px -1050px;
}

.challenge-idx-1872, .challenge-5238 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -300px -1050px;
}

.challenge-idx-1873, .challenge-5239 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -450px -1050px;
}

.challenge-idx-1874, .challenge-5240 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -600px -1050px;
}

.challenge-idx-1875, .challenge-5241 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -750px -1050px;
}

.challenge-idx-1876, .challenge-5242 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -900px -1050px;
}

.challenge-idx-1877, .challenge-5243 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1050px -1050px;
}

.challenge-idx-1878, .challenge-5244 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1200px -1050px;
}

.challenge-idx-1879, .challenge-5245 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1350px -1050px;
}

.challenge-idx-1880, .challenge-5246 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -0px -1200px;
}

.challenge-idx-1881, .challenge-5247 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -150px -1200px;
}

.challenge-idx-1882, .challenge-5248 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -300px -1200px;
}

.challenge-idx-1883, .challenge-5249 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -450px -1200px;
}

.challenge-idx-1884, .challenge-5250 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -600px -1200px;
}

.challenge-idx-1885, .challenge-5251 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -750px -1200px;
}

.challenge-idx-1886, .challenge-5252 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -900px -1200px;
}

.challenge-idx-1887, .challenge-5253 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1050px -1200px;
}

.challenge-idx-1888, .challenge-5254 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1200px -1200px;
}

.challenge-idx-1889, .challenge-5255 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1350px -1200px;
}

.challenge-idx-1890, .challenge-5268 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -0px -1350px;
}

.challenge-idx-1891, .challenge-5269 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -150px -1350px;
}

.challenge-idx-1892, .challenge-5270 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -300px -1350px;
}

.challenge-idx-1893, .challenge-5271 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -450px -1350px;
}

.challenge-idx-1894, .challenge-5272 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -600px -1350px;
}

.challenge-idx-1895, .challenge-5273 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -750px -1350px;
}

.challenge-idx-1896, .challenge-5274 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -900px -1350px;
}

.challenge-idx-1897, .challenge-5275 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1050px -1350px;
}

.challenge-idx-1898, .challenge-5288 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1200px -1350px;
}

.challenge-idx-1899, .challenge-5289 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1800_1900.png') -1350px -1350px;
}