.challenge-idx-1900, .challenge-5290 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -0px -0px;
}

.challenge-idx-1901, .challenge-5291 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -150px -0px;
}

.challenge-idx-1902, .challenge-5292 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -300px -0px;
}

.challenge-idx-1903, .challenge-5293 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -450px -0px;
}

.challenge-idx-1904, .challenge-5295 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -600px -0px;
}

.challenge-idx-1905, .challenge-5297 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -750px -0px;
}

.challenge-idx-1906, .challenge-5298 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -900px -0px;
}

.challenge-idx-1907, .challenge-5299 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1050px -0px;
}

.challenge-idx-1908, .challenge-5300 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1200px -0px;
}

.challenge-idx-1909, .challenge-5302 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1350px -0px;
}

.challenge-idx-1910, .challenge-5303 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -0px -150px;
}

.challenge-idx-1911, .challenge-5304 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -150px -150px;
}

.challenge-idx-1912, .challenge-5305 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -300px -150px;
}

.challenge-idx-1913, .challenge-5306 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -450px -150px;
}

.challenge-idx-1914, .challenge-5307 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -600px -150px;
}

.challenge-idx-1915, .challenge-5309 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -750px -150px;
}

.challenge-idx-1916, .challenge-5310 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -900px -150px;
}

.challenge-idx-1917, .challenge-5311 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1050px -150px;
}

.challenge-idx-1918, .challenge-5312 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1200px -150px;
}

.challenge-idx-1919, .challenge-5313 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1350px -150px;
}

.challenge-idx-1920, .challenge-5314 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -0px -300px;
}

.challenge-idx-1921, .challenge-5315 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -150px -300px;
}

.challenge-idx-1922, .challenge-5317 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -300px -300px;
}

.challenge-idx-1923, .challenge-5318 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -450px -300px;
}

.challenge-idx-1924, .challenge-5320 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -600px -300px;
}

.challenge-idx-1925, .challenge-5321 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -750px -300px;
}

.challenge-idx-1926, .challenge-5322 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -900px -300px;
}

.challenge-idx-1927, .challenge-5323 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1050px -300px;
}

.challenge-idx-1928, .challenge-5336 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1200px -300px;
}

.challenge-idx-1929, .challenge-5337 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1350px -300px;
}

.challenge-idx-1930, .challenge-5338 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -0px -450px;
}

.challenge-idx-1931, .challenge-5339 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -150px -450px;
}

.challenge-idx-1932, .challenge-5340 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -300px -450px;
}

.challenge-idx-1933, .challenge-5341 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -450px -450px;
}

.challenge-idx-1934, .challenge-5342 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -600px -450px;
}

.challenge-idx-1935, .challenge-5343 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -750px -450px;
}

.challenge-idx-1936, .challenge-5344 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -900px -450px;
}

.challenge-idx-1937, .challenge-5346 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1050px -450px;
}

.challenge-idx-1938, .challenge-5347 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1200px -450px;
}

.challenge-idx-1939, .challenge-5348 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1350px -450px;
}

.challenge-idx-1940, .challenge-5349 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -0px -600px;
}

.challenge-idx-1941, .challenge-5350 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -150px -600px;
}

.challenge-idx-1942, .challenge-5354 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -300px -600px;
}

.challenge-idx-1943, .challenge-5355 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -450px -600px;
}

.challenge-idx-1944, .challenge-5356 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -600px -600px;
}

.challenge-idx-1945, .challenge-5357 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -750px -600px;
}

.challenge-idx-1946, .challenge-5358 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -900px -600px;
}

.challenge-idx-1947, .challenge-5359 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1050px -600px;
}

.challenge-idx-1948, .challenge-5361 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1200px -600px;
}

.challenge-idx-1949, .challenge-5362 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1350px -600px;
}

.challenge-idx-1950, .challenge-5363 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -0px -750px;
}

.challenge-idx-1951, .challenge-5364 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -150px -750px;
}

.challenge-idx-1952, .challenge-5365 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -300px -750px;
}

.challenge-idx-1953, .challenge-5366 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -450px -750px;
}

.challenge-idx-1954, .challenge-5367 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -600px -750px;
}

.challenge-idx-1955, .challenge-5368 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -750px -750px;
}

.challenge-idx-1956, .challenge-5370 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -900px -750px;
}

.challenge-idx-1957, .challenge-5371 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1050px -750px;
}

.challenge-idx-1958, .challenge-5372 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1200px -750px;
}

.challenge-idx-1959, .challenge-5373 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1350px -750px;
}

.challenge-idx-1960, .challenge-5374 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -0px -900px;
}

.challenge-idx-1961, .challenge-5377 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -150px -900px;
}

.challenge-idx-1962, .challenge-5378 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -300px -900px;
}

.challenge-idx-1963, .challenge-5379 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -450px -900px;
}

.challenge-idx-1964, .challenge-5380 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -600px -900px;
}

.challenge-idx-1965, .challenge-5381 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -750px -900px;
}

.challenge-idx-1966, .challenge-5382 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -900px -900px;
}

.challenge-idx-1967, .challenge-5383 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1050px -900px;
}

.challenge-idx-1968, .challenge-5384 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1200px -900px;
}

.challenge-idx-1969, .challenge-5385 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1350px -900px;
}

.challenge-idx-1970, .challenge-5386 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -0px -1050px;
}

.challenge-idx-1971, .challenge-5388 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -150px -1050px;
}

.challenge-idx-1972, .challenge-5389 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -300px -1050px;
}

.challenge-idx-1973, .challenge-5390 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -450px -1050px;
}

.challenge-idx-1974, .challenge-5391 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -600px -1050px;
}

.challenge-idx-1975, .challenge-5392 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -750px -1050px;
}

.challenge-idx-1976, .challenge-5394 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -900px -1050px;
}

.challenge-idx-1977, .challenge-5397 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1050px -1050px;
}

.challenge-idx-1978, .challenge-5398 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1200px -1050px;
}

.challenge-idx-1979, .challenge-5399 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1350px -1050px;
}

.challenge-idx-1980, .challenge-5400 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -0px -1200px;
}

.challenge-idx-1981, .challenge-5401 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -150px -1200px;
}

.challenge-idx-1982, .challenge-5402 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -300px -1200px;
}

.challenge-idx-1983, .challenge-5403 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -450px -1200px;
}

.challenge-idx-1984, .challenge-5404 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -600px -1200px;
}

.challenge-idx-1985, .challenge-5405 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -750px -1200px;
}

.challenge-idx-1986, .challenge-5406 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -900px -1200px;
}

.challenge-idx-1987, .challenge-5407 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1050px -1200px;
}

.challenge-idx-1988, .challenge-5408 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1200px -1200px;
}

.challenge-idx-1989, .challenge-5409 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1350px -1200px;
}

.challenge-idx-1990, .challenge-5410 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -0px -1350px;
}

.challenge-idx-1991, .challenge-5411 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -150px -1350px;
}

.challenge-idx-1992, .challenge-5412 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -300px -1350px;
}

.challenge-idx-1993, .challenge-5413 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -450px -1350px;
}

.challenge-idx-1994, .challenge-5414 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -600px -1350px;
}

.challenge-idx-1995, .challenge-5415 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -750px -1350px;
}

.challenge-idx-1996, .challenge-5416 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -900px -1350px;
}

.challenge-idx-1997, .challenge-5417 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1050px -1350px;
}

.challenge-idx-1998, .challenge-5418 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1200px -1350px;
}

.challenge-idx-1999, .challenge-5419 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1900_2000.png') -1350px -1350px;
}