.challenge-idx-100, .challenge-1858 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -0px -0px;
}

.challenge-idx-101, .challenge-1859 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -150px -0px;
}

.challenge-idx-102, .challenge-1861 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -300px -0px;
}

.challenge-idx-103, .challenge-1868 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -450px -0px;
}

.challenge-idx-104, .challenge-1871 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -600px -0px;
}

.challenge-idx-105, .challenge-1872 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -750px -0px;
}

.challenge-idx-106, .challenge-1873 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -900px -0px;
}

.challenge-idx-107, .challenge-1874 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1050px -0px;
}

.challenge-idx-108, .challenge-1875 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1200px -0px;
}

.challenge-idx-109, .challenge-1876 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1350px -0px;
}

.challenge-idx-110, .challenge-1882 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -0px -150px;
}

.challenge-idx-111, .challenge-1883 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -150px -150px;
}

.challenge-idx-112, .challenge-1886 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -300px -150px;
}

.challenge-idx-113, .challenge-1887 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -450px -150px;
}

.challenge-idx-114, .challenge-1888 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -600px -150px;
}

.challenge-idx-115, .challenge-1892 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -750px -150px;
}

.challenge-idx-116, .challenge-1894 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -900px -150px;
}

.challenge-idx-117, .challenge-1896 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1050px -150px;
}

.challenge-idx-118, .challenge-1897 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1200px -150px;
}

.challenge-idx-119, .challenge-1898 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1350px -150px;
}

.challenge-idx-120, .challenge-1911 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -0px -300px;
}

.challenge-idx-121, .challenge-1912 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -150px -300px;
}

.challenge-idx-122, .challenge-1926 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -300px -300px;
}

.challenge-idx-123, .challenge-1927 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -450px -300px;
}

.challenge-idx-124, .challenge-1929 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -600px -300px;
}

.challenge-idx-125, .challenge-1930 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -750px -300px;
}

.challenge-idx-126, .challenge-1932 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -900px -300px;
}

.challenge-idx-127, .challenge-1933 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1050px -300px;
}

.challenge-idx-128, .challenge-1934 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1200px -300px;
}

.challenge-idx-129, .challenge-1935 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1350px -300px;
}

.challenge-idx-130, .challenge-1937 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -0px -450px;
}

.challenge-idx-131, .challenge-1938 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -150px -450px;
}

.challenge-idx-132, .challenge-1939 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -300px -450px;
}

.challenge-idx-133, .challenge-1940 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -450px -450px;
}

.challenge-idx-134, .challenge-1941 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -600px -450px;
}

.challenge-idx-135, .challenge-1942 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -750px -450px;
}

.challenge-idx-136, .challenge-1943 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -900px -450px;
}

.challenge-idx-137, .challenge-1944 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1050px -450px;
}

.challenge-idx-138, .challenge-1945 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1200px -450px;
}

.challenge-idx-139, .challenge-1947 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1350px -450px;
}

.challenge-idx-140, .challenge-1948 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -0px -600px;
}

.challenge-idx-141, .challenge-1949 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -150px -600px;
}

.challenge-idx-142, .challenge-1966 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -300px -600px;
}

.challenge-idx-143, .challenge-1967 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -450px -600px;
}

.challenge-idx-144, .challenge-1968 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -600px -600px;
}

.challenge-idx-145, .challenge-1969 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -750px -600px;
}

.challenge-idx-146, .challenge-1970 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -900px -600px;
}

.challenge-idx-147, .challenge-1971 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1050px -600px;
}

.challenge-idx-148, .challenge-1972 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1200px -600px;
}

.challenge-idx-149, .challenge-1973 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1350px -600px;
}

.challenge-idx-150, .challenge-1974 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -0px -750px;
}

.challenge-idx-151, .challenge-1976 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -150px -750px;
}

.challenge-idx-152, .challenge-1977 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -300px -750px;
}

.challenge-idx-153, .challenge-1978 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -450px -750px;
}

.challenge-idx-154, .challenge-1979 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -600px -750px;
}

.challenge-idx-155, .challenge-1981 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -750px -750px;
}

.challenge-idx-156, .challenge-1982 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -900px -750px;
}

.challenge-idx-157, .challenge-1983 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1050px -750px;
}

.challenge-idx-158, .challenge-1984 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1200px -750px;
}

.challenge-idx-159, .challenge-1985 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1350px -750px;
}

.challenge-idx-160, .challenge-1986 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -0px -900px;
}

.challenge-idx-161, .challenge-1987 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -150px -900px;
}

.challenge-idx-162, .challenge-1988 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -300px -900px;
}

.challenge-idx-163, .challenge-1992 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -450px -900px;
}

.challenge-idx-164, .challenge-1993 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -600px -900px;
}

.challenge-idx-165, .challenge-1994 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -750px -900px;
}

.challenge-idx-166, .challenge-1995 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -900px -900px;
}

.challenge-idx-167, .challenge-2009 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1050px -900px;
}

.challenge-idx-168, .challenge-2010 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1200px -900px;
}

.challenge-idx-169, .challenge-2012 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1350px -900px;
}

.challenge-idx-170, .challenge-2013 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -0px -1050px;
}

.challenge-idx-171, .challenge-2014 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -150px -1050px;
}

.challenge-idx-172, .challenge-2015 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -300px -1050px;
}

.challenge-idx-173, .challenge-2016 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -450px -1050px;
}

.challenge-idx-174, .challenge-2018 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -600px -1050px;
}

.challenge-idx-175, .challenge-2019 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -750px -1050px;
}

.challenge-idx-176, .challenge-2021 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -900px -1050px;
}

.challenge-idx-177, .challenge-2023 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1050px -1050px;
}

.challenge-idx-178, .challenge-2024 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1200px -1050px;
}

.challenge-idx-179, .challenge-2025 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1350px -1050px;
}

.challenge-idx-180, .challenge-2026 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -0px -1200px;
}

.challenge-idx-181, .challenge-2027 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -150px -1200px;
}

.challenge-idx-182, .challenge-2028 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -300px -1200px;
}

.challenge-idx-183, .challenge-2029 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -450px -1200px;
}

.challenge-idx-184, .challenge-2043 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -600px -1200px;
}

.challenge-idx-185, .challenge-2044 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -750px -1200px;
}

.challenge-idx-186, .challenge-2046 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -900px -1200px;
}

.challenge-idx-187, .challenge-2047 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1050px -1200px;
}

.challenge-idx-188, .challenge-2048 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1200px -1200px;
}

.challenge-idx-189, .challenge-2051 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1350px -1200px;
}

.challenge-idx-190, .challenge-2052 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -0px -1350px;
}

.challenge-idx-191, .challenge-2053 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -150px -1350px;
}

.challenge-idx-192, .challenge-2054 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -300px -1350px;
}

.challenge-idx-193, .challenge-2055 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -450px -1350px;
}

.challenge-idx-194, .challenge-2056 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -600px -1350px;
}

.challenge-idx-195, .challenge-2059 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -750px -1350px;
}

.challenge-idx-196, .challenge-2060 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -900px -1350px;
}

.challenge-idx-197, .challenge-2061 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1050px -1350px;
}

.challenge-idx-198, .challenge-2063 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1200px -1350px;
}

.challenge-idx-199, .challenge-2065 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_100_200.png') -1350px -1350px;
}