.challenge-idx-1300, .challenge-4157 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -0px -0px;
}

.challenge-idx-1301, .challenge-4158 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -150px -0px;
}

.challenge-idx-1302, .challenge-4159 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -300px -0px;
}

.challenge-idx-1303, .challenge-4160 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -450px -0px;
}

.challenge-idx-1304, .challenge-4161 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -600px -0px;
}

.challenge-idx-1305, .challenge-4162 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -750px -0px;
}

.challenge-idx-1306, .challenge-4164 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -900px -0px;
}

.challenge-idx-1307, .challenge-4168 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1050px -0px;
}

.challenge-idx-1308, .challenge-4169 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1200px -0px;
}

.challenge-idx-1309, .challenge-4174 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1350px -0px;
}

.challenge-idx-1310, .challenge-4176 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -0px -150px;
}

.challenge-idx-1311, .challenge-4177 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -150px -150px;
}

.challenge-idx-1312, .challenge-4178 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -300px -150px;
}

.challenge-idx-1313, .challenge-4179 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -450px -150px;
}

.challenge-idx-1314, .challenge-4180 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -600px -150px;
}

.challenge-idx-1315, .challenge-4181 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -750px -150px;
}

.challenge-idx-1316, .challenge-4182 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -900px -150px;
}

.challenge-idx-1317, .challenge-4185 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1050px -150px;
}

.challenge-idx-1318, .challenge-4187 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1200px -150px;
}

.challenge-idx-1319, .challenge-4188 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1350px -150px;
}

.challenge-idx-1320, .challenge-4203 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -0px -300px;
}

.challenge-idx-1321, .challenge-4204 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -150px -300px;
}

.challenge-idx-1322, .challenge-4205 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -300px -300px;
}

.challenge-idx-1323, .challenge-4207 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -450px -300px;
}

.challenge-idx-1324, .challenge-4208 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -600px -300px;
}

.challenge-idx-1325, .challenge-4209 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -750px -300px;
}

.challenge-idx-1326, .challenge-4211 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -900px -300px;
}

.challenge-idx-1327, .challenge-4212 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1050px -300px;
}

.challenge-idx-1328, .challenge-4213 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1200px -300px;
}

.challenge-idx-1329, .challenge-4214 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1350px -300px;
}

.challenge-idx-1330, .challenge-4216 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -0px -450px;
}

.challenge-idx-1331, .challenge-4217 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -150px -450px;
}

.challenge-idx-1332, .challenge-4218 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -300px -450px;
}

.challenge-idx-1333, .challenge-4220 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -450px -450px;
}

.challenge-idx-1334, .challenge-4222 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -600px -450px;
}

.challenge-idx-1335, .challenge-4224 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -750px -450px;
}

.challenge-idx-1336, .challenge-4225 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -900px -450px;
}

.challenge-idx-1337, .challenge-4226 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1050px -450px;
}

.challenge-idx-1338, .challenge-4227 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1200px -450px;
}

.challenge-idx-1339, .challenge-4230 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1350px -450px;
}

.challenge-idx-1340, .challenge-4231 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -0px -600px;
}

.challenge-idx-1341, .challenge-4232 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -150px -600px;
}

.challenge-idx-1342, .challenge-4246 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -300px -600px;
}

.challenge-idx-1343, .challenge-4247 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -450px -600px;
}

.challenge-idx-1344, .challenge-4249 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -600px -600px;
}

.challenge-idx-1345, .challenge-4251 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -750px -600px;
}

.challenge-idx-1346, .challenge-4252 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -900px -600px;
}

.challenge-idx-1347, .challenge-4253 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1050px -600px;
}

.challenge-idx-1348, .challenge-4255 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1200px -600px;
}

.challenge-idx-1349, .challenge-4256 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1350px -600px;
}

.challenge-idx-1350, .challenge-4257 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -0px -750px;
}

.challenge-idx-1351, .challenge-4258 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -150px -750px;
}

.challenge-idx-1352, .challenge-4259 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -300px -750px;
}

.challenge-idx-1353, .challenge-4260 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -450px -750px;
}

.challenge-idx-1354, .challenge-4261 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -600px -750px;
}

.challenge-idx-1355, .challenge-4262 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -750px -750px;
}

.challenge-idx-1356, .challenge-4264 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -900px -750px;
}

.challenge-idx-1357, .challenge-4267 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1050px -750px;
}

.challenge-idx-1358, .challenge-4268 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1200px -750px;
}

.challenge-idx-1359, .challenge-4272 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1350px -750px;
}

.challenge-idx-1360, .challenge-4273 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -0px -900px;
}

.challenge-idx-1361, .challenge-4275 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -150px -900px;
}

.challenge-idx-1362, .challenge-4276 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -300px -900px;
}

.challenge-idx-1363, .challenge-4277 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -450px -900px;
}

.challenge-idx-1364, .challenge-4278 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -600px -900px;
}

.challenge-idx-1365, .challenge-4279 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -750px -900px;
}

.challenge-idx-1366, .challenge-4280 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -900px -900px;
}

.challenge-idx-1367, .challenge-4294 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1050px -900px;
}

.challenge-idx-1368, .challenge-4295 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1200px -900px;
}

.challenge-idx-1369, .challenge-4296 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1350px -900px;
}

.challenge-idx-1370, .challenge-4298 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -0px -1050px;
}

.challenge-idx-1371, .challenge-4299 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -150px -1050px;
}

.challenge-idx-1372, .challenge-4300 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -300px -1050px;
}

.challenge-idx-1373, .challenge-4301 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -450px -1050px;
}

.challenge-idx-1374, .challenge-4302 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -600px -1050px;
}

.challenge-idx-1375, .challenge-4303 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -750px -1050px;
}

.challenge-idx-1376, .challenge-4304 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -900px -1050px;
}

.challenge-idx-1377, .challenge-4305 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1050px -1050px;
}

.challenge-idx-1378, .challenge-4306 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1200px -1050px;
}

.challenge-idx-1379, .challenge-4307 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1350px -1050px;
}

.challenge-idx-1380, .challenge-4308 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -0px -1200px;
}

.challenge-idx-1381, .challenge-4309 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -150px -1200px;
}

.challenge-idx-1382, .challenge-4310 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -300px -1200px;
}

.challenge-idx-1383, .challenge-4311 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -450px -1200px;
}

.challenge-idx-1384, .challenge-4313 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -600px -1200px;
}

.challenge-idx-1385, .challenge-4314 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -750px -1200px;
}

.challenge-idx-1386, .challenge-4315 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -900px -1200px;
}

.challenge-idx-1387, .challenge-4316 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1050px -1200px;
}

.challenge-idx-1388, .challenge-4318 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1200px -1200px;
}

.challenge-idx-1389, .challenge-4319 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1350px -1200px;
}

.challenge-idx-1390, .challenge-4320 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -0px -1350px;
}

.challenge-idx-1391, .challenge-4322 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -150px -1350px;
}

.challenge-idx-1392, .challenge-4323 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -300px -1350px;
}

.challenge-idx-1393, .challenge-4326 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -450px -1350px;
}

.challenge-idx-1394, .challenge-4327 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -600px -1350px;
}

.challenge-idx-1395, .challenge-4328 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -750px -1350px;
}

.challenge-idx-1396, .challenge-4330 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -900px -1350px;
}

.challenge-idx-1397, .challenge-4331 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1050px -1350px;
}

.challenge-idx-1398, .challenge-4333 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1200px -1350px;
}

.challenge-idx-1399, .challenge-4337 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1300_1400.png') -1350px -1350px;
}