.challenge-idx-900, .challenge-3308 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -0px -0px;
}

.challenge-idx-901, .challenge-3309 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -150px -0px;
}

.challenge-idx-902, .challenge-3310 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -300px -0px;
}

.challenge-idx-903, .challenge-3311 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -450px -0px;
}

.challenge-idx-904, .challenge-3325 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -600px -0px;
}

.challenge-idx-905, .challenge-3328 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -750px -0px;
}

.challenge-idx-906, .challenge-3329 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -900px -0px;
}

.challenge-idx-907, .challenge-3330 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1050px -0px;
}

.challenge-idx-908, .challenge-3331 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1200px -0px;
}

.challenge-idx-909, .challenge-3332 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1350px -0px;
}

.challenge-idx-910, .challenge-3333 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -0px -150px;
}

.challenge-idx-911, .challenge-3334 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -150px -150px;
}

.challenge-idx-912, .challenge-3336 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -300px -150px;
}

.challenge-idx-913, .challenge-3337 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -450px -150px;
}

.challenge-idx-914, .challenge-3338 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -600px -150px;
}

.challenge-idx-915, .challenge-3341 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -750px -150px;
}

.challenge-idx-916, .challenge-3342 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -900px -150px;
}

.challenge-idx-917, .challenge-3343 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1050px -150px;
}

.challenge-idx-918, .challenge-3344 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1200px -150px;
}

.challenge-idx-919, .challenge-3345 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1350px -150px;
}

.challenge-idx-920, .challenge-3346 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -0px -300px;
}

.challenge-idx-921, .challenge-3347 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -150px -300px;
}

.challenge-idx-922, .challenge-3348 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -300px -300px;
}

.challenge-idx-923, .challenge-3349 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -450px -300px;
}

.challenge-idx-924, .challenge-3350 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -600px -300px;
}

.challenge-idx-925, .challenge-3351 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -750px -300px;
}

.challenge-idx-926, .challenge-3352 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -900px -300px;
}

.challenge-idx-927, .challenge-3353 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1050px -300px;
}

.challenge-idx-928, .challenge-3354 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1200px -300px;
}

.challenge-idx-929, .challenge-3355 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1350px -300px;
}

.challenge-idx-930, .challenge-3356 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -0px -450px;
}

.challenge-idx-931, .challenge-3357 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -150px -450px;
}

.challenge-idx-932, .challenge-3359 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -300px -450px;
}

.challenge-idx-933, .challenge-3362 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -450px -450px;
}

.challenge-idx-934, .challenge-3370 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -600px -450px;
}

.challenge-idx-935, .challenge-3373 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -750px -450px;
}

.challenge-idx-936, .challenge-3375 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -900px -450px;
}

.challenge-idx-937, .challenge-3376 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1050px -450px;
}

.challenge-idx-938, .challenge-3377 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1200px -450px;
}

.challenge-idx-939, .challenge-3380 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1350px -450px;
}

.challenge-idx-940, .challenge-3381 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -0px -600px;
}

.challenge-idx-941, .challenge-3382 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -150px -600px;
}

.challenge-idx-942, .challenge-3383 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -300px -600px;
}

.challenge-idx-943, .challenge-3384 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -450px -600px;
}

.challenge-idx-944, .challenge-3385 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -600px -600px;
}

.challenge-idx-945, .challenge-3387 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -750px -600px;
}

.challenge-idx-946, .challenge-3388 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -900px -600px;
}

.challenge-idx-947, .challenge-3407 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1050px -600px;
}

.challenge-idx-948, .challenge-3408 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1200px -600px;
}

.challenge-idx-949, .challenge-3409 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1350px -600px;
}

.challenge-idx-950, .challenge-3410 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -0px -750px;
}

.challenge-idx-951, .challenge-3411 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -150px -750px;
}

.challenge-idx-952, .challenge-3412 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -300px -750px;
}

.challenge-idx-953, .challenge-3413 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -450px -750px;
}

.challenge-idx-954, .challenge-3415 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -600px -750px;
}

.challenge-idx-955, .challenge-3417 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -750px -750px;
}

.challenge-idx-956, .challenge-3420 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -900px -750px;
}

.challenge-idx-957, .challenge-3421 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1050px -750px;
}

.challenge-idx-958, .challenge-3422 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1200px -750px;
}

.challenge-idx-959, .challenge-3423 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1350px -750px;
}

.challenge-idx-960, .challenge-3424 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -0px -900px;
}

.challenge-idx-961, .challenge-3425 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -150px -900px;
}

.challenge-idx-962, .challenge-3426 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -300px -900px;
}

.challenge-idx-963, .challenge-3429 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -450px -900px;
}

.challenge-idx-964, .challenge-3430 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -600px -900px;
}

.challenge-idx-965, .challenge-3431 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -750px -900px;
}

.challenge-idx-966, .challenge-3432 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -900px -900px;
}

.challenge-idx-967, .challenge-3433 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1050px -900px;
}

.challenge-idx-968, .challenge-3434 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1200px -900px;
}

.challenge-idx-969, .challenge-3435 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1350px -900px;
}

.challenge-idx-970, .challenge-3436 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -0px -1050px;
}

.challenge-idx-971, .challenge-3440 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -150px -1050px;
}

.challenge-idx-972, .challenge-3455 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -300px -1050px;
}

.challenge-idx-973, .challenge-3457 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -450px -1050px;
}

.challenge-idx-974, .challenge-3459 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -600px -1050px;
}

.challenge-idx-975, .challenge-3460 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -750px -1050px;
}

.challenge-idx-976, .challenge-3461 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -900px -1050px;
}

.challenge-idx-977, .challenge-3463 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1050px -1050px;
}

.challenge-idx-978, .challenge-3464 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1200px -1050px;
}

.challenge-idx-979, .challenge-3465 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1350px -1050px;
}

.challenge-idx-980, .challenge-3466 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -0px -1200px;
}

.challenge-idx-981, .challenge-3467 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -150px -1200px;
}

.challenge-idx-982, .challenge-3468 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -300px -1200px;
}

.challenge-idx-983, .challenge-3469 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -450px -1200px;
}

.challenge-idx-984, .challenge-3471 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -600px -1200px;
}

.challenge-idx-985, .challenge-3472 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -750px -1200px;
}

.challenge-idx-986, .challenge-3475 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -900px -1200px;
}

.challenge-idx-987, .challenge-3476 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1050px -1200px;
}

.challenge-idx-988, .challenge-3477 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1200px -1200px;
}

.challenge-idx-989, .challenge-3478 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1350px -1200px;
}

.challenge-idx-990, .challenge-3479 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -0px -1350px;
}

.challenge-idx-991, .challenge-3480 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -150px -1350px;
}

.challenge-idx-992, .challenge-3481 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -300px -1350px;
}

.challenge-idx-993, .challenge-3482 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -450px -1350px;
}

.challenge-idx-994, .challenge-3483 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -600px -1350px;
}

.challenge-idx-995, .challenge-3485 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -750px -1350px;
}

.challenge-idx-996, .challenge-3488 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -900px -1350px;
}

.challenge-idx-997, .challenge-3490 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1050px -1350px;
}

.challenge-idx-998, .challenge-3491 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1200px -1350px;
}

.challenge-idx-999, .challenge-3506 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_900_1000.png') -1350px -1350px;
}