.challenge-idx-200, .challenge-2066 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -0px -0px;
}

.challenge-idx-201, .challenge-2067 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -150px -0px;
}

.challenge-idx-202, .challenge-2068 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -300px -0px;
}

.challenge-idx-203, .challenge-2069 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -450px -0px;
}

.challenge-idx-204, .challenge-2070 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -600px -0px;
}

.challenge-idx-205, .challenge-2071 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -750px -0px;
}

.challenge-idx-206, .challenge-2072 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -900px -0px;
}

.challenge-idx-207, .challenge-2073 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1050px -0px;
}

.challenge-idx-208, .challenge-2075 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1200px -0px;
}

.challenge-idx-209, .challenge-2076 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1350px -0px;
}

.challenge-idx-210, .challenge-2077 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -0px -150px;
}

.challenge-idx-211, .challenge-2078 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -150px -150px;
}

.challenge-idx-212, .challenge-2079 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -300px -150px;
}

.challenge-idx-213, .challenge-2080 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -450px -150px;
}

.challenge-idx-214, .challenge-2082 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -600px -150px;
}

.challenge-idx-215, .challenge-2083 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -750px -150px;
}

.challenge-idx-216, .challenge-2084 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -900px -150px;
}

.challenge-idx-217, .challenge-2085 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1050px -150px;
}

.challenge-idx-218, .challenge-2087 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1200px -150px;
}

.challenge-idx-219, .challenge-2088 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1350px -150px;
}

.challenge-idx-220, .challenge-2091 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -0px -300px;
}

.challenge-idx-221, .challenge-2092 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -150px -300px;
}

.challenge-idx-222, .challenge-2093 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -300px -300px;
}

.challenge-idx-223, .challenge-2094 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -450px -300px;
}

.challenge-idx-224, .challenge-2107 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -600px -300px;
}

.challenge-idx-225, .challenge-2108 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -750px -300px;
}

.challenge-idx-226, .challenge-2111 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -900px -300px;
}

.challenge-idx-227, .challenge-2114 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1050px -300px;
}

.challenge-idx-228, .challenge-2115 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1200px -300px;
}

.challenge-idx-229, .challenge-2117 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1350px -300px;
}

.challenge-idx-230, .challenge-2118 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -0px -450px;
}

.challenge-idx-231, .challenge-2119 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -150px -450px;
}

.challenge-idx-232, .challenge-2120 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -300px -450px;
}

.challenge-idx-233, .challenge-2121 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -450px -450px;
}

.challenge-idx-234, .challenge-2122 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -600px -450px;
}

.challenge-idx-235, .challenge-2123 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -750px -450px;
}

.challenge-idx-236, .challenge-2124 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -900px -450px;
}

.challenge-idx-237, .challenge-2125 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1050px -450px;
}

.challenge-idx-238, .challenge-2126 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1200px -450px;
}

.challenge-idx-239, .challenge-2127 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1350px -450px;
}

.challenge-idx-240, .challenge-2128 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -0px -600px;
}

.challenge-idx-241, .challenge-2129 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -150px -600px;
}

.challenge-idx-242, .challenge-2130 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -300px -600px;
}

.challenge-idx-243, .challenge-2146 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -450px -600px;
}

.challenge-idx-244, .challenge-2148 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -600px -600px;
}

.challenge-idx-245, .challenge-2149 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -750px -600px;
}

.challenge-idx-246, .challenge-2152 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -900px -600px;
}

.challenge-idx-247, .challenge-2154 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1050px -600px;
}

.challenge-idx-248, .challenge-2155 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1200px -600px;
}

.challenge-idx-249, .challenge-2156 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1350px -600px;
}

.challenge-idx-250, .challenge-2159 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -0px -750px;
}

.challenge-idx-251, .challenge-2163 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -150px -750px;
}

.challenge-idx-252, .challenge-2166 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -300px -750px;
}

.challenge-idx-253, .challenge-2167 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -450px -750px;
}

.challenge-idx-254, .challenge-2168 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -600px -750px;
}

.challenge-idx-255, .challenge-2169 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -750px -750px;
}

.challenge-idx-256, .challenge-2170 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -900px -750px;
}

.challenge-idx-257, .challenge-2171 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1050px -750px;
}

.challenge-idx-258, .challenge-2172 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1200px -750px;
}

.challenge-idx-259, .challenge-2173 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1350px -750px;
}

.challenge-idx-260, .challenge-2174 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -0px -900px;
}

.challenge-idx-261, .challenge-2175 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -150px -900px;
}

.challenge-idx-262, .challenge-2177 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -300px -900px;
}

.challenge-idx-263, .challenge-2178 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -450px -900px;
}

.challenge-idx-264, .challenge-2179 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -600px -900px;
}

.challenge-idx-265, .challenge-2180 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -750px -900px;
}

.challenge-idx-266, .challenge-2183 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -900px -900px;
}

.challenge-idx-267, .challenge-2185 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1050px -900px;
}

.challenge-idx-268, .challenge-2186 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1200px -900px;
}

.challenge-idx-269, .challenge-2187 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1350px -900px;
}

.challenge-idx-270, .challenge-2200 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -0px -1050px;
}

.challenge-idx-271, .challenge-2201 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -150px -1050px;
}

.challenge-idx-272, .challenge-2202 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -300px -1050px;
}

.challenge-idx-273, .challenge-2203 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -450px -1050px;
}

.challenge-idx-274, .challenge-2204 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -600px -1050px;
}

.challenge-idx-275, .challenge-2205 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -750px -1050px;
}

.challenge-idx-276, .challenge-2206 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -900px -1050px;
}

.challenge-idx-277, .challenge-2207 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1050px -1050px;
}

.challenge-idx-278, .challenge-2215 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1200px -1050px;
}

.challenge-idx-279, .challenge-2216 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1350px -1050px;
}

.challenge-idx-280, .challenge-2218 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -0px -1200px;
}

.challenge-idx-281, .challenge-2219 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -150px -1200px;
}

.challenge-idx-282, .challenge-2225 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -300px -1200px;
}

.challenge-idx-283, .challenge-2228 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -450px -1200px;
}

.challenge-idx-284, .challenge-2229 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -600px -1200px;
}

.challenge-idx-285, .challenge-2230 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -750px -1200px;
}

.challenge-idx-286, .challenge-2231 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -900px -1200px;
}

.challenge-idx-287, .challenge-2233 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1050px -1200px;
}

.challenge-idx-288, .challenge-2234 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1200px -1200px;
}

.challenge-idx-289, .challenge-2235 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1350px -1200px;
}

.challenge-idx-290, .challenge-2241 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -0px -1350px;
}

.challenge-idx-291, .challenge-2242 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -150px -1350px;
}

.challenge-idx-292, .challenge-2243 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -300px -1350px;
}

.challenge-idx-293, .challenge-2257 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -450px -1350px;
}

.challenge-idx-294, .challenge-2258 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -600px -1350px;
}

.challenge-idx-295, .challenge-2261 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -750px -1350px;
}

.challenge-idx-296, .challenge-2264 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -900px -1350px;
}

.challenge-idx-297, .challenge-2265 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1050px -1350px;
}

.challenge-idx-298, .challenge-2266 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1200px -1350px;
}

.challenge-idx-299, .challenge-2271 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_200_300.png') -1350px -1350px;
}