.challenge-idx-2000, .challenge-5420 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -0px -0px;
}

.challenge-idx-2001, .challenge-5421 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -150px -0px;
}

.challenge-idx-2002, .challenge-5422 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -300px -0px;
}

.challenge-idx-2003, .challenge-5423 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -450px -0px;
}

.challenge-idx-2004, .challenge-5424 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -600px -0px;
}

.challenge-idx-2005, .challenge-5425 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -750px -0px;
}

.challenge-idx-2006, .challenge-5426 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -900px -0px;
}

.challenge-idx-2007, .challenge-5427 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1050px -0px;
}

.challenge-idx-2008, .challenge-5428 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1200px -0px;
}

.challenge-idx-2009, .challenge-5429 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1350px -0px;
}

.challenge-idx-2010, .challenge-5430 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -0px -150px;
}

.challenge-idx-2011, .challenge-5431 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -150px -150px;
}

.challenge-idx-2012, .challenge-5432 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -300px -150px;
}

.challenge-idx-2013, .challenge-5433 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -450px -150px;
}

.challenge-idx-2014, .challenge-5434 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -600px -150px;
}

.challenge-idx-2015, .challenge-5435 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -750px -150px;
}

.challenge-idx-2016, .challenge-5436 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -900px -150px;
}

.challenge-idx-2017, .challenge-5437 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1050px -150px;
}

.challenge-idx-2018, .challenge-5438 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1200px -150px;
}

.challenge-idx-2019, .challenge-5439 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1350px -150px;
}

.challenge-idx-2020, .challenge-5440 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -0px -300px;
}

.challenge-idx-2021, .challenge-5441 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -150px -300px;
}

.challenge-idx-2022, .challenge-5442 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -300px -300px;
}

.challenge-idx-2023, .challenge-5443 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -450px -300px;
}

.challenge-idx-2024, .challenge-5444 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -600px -300px;
}

.challenge-idx-2025, .challenge-5446 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -750px -300px;
}

.challenge-idx-2026, .challenge-5447 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -900px -300px;
}

.challenge-idx-2027, .challenge-5449 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1050px -300px;
}

.challenge-idx-2028, .challenge-5451 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1200px -300px;
}

.challenge-idx-2029, .challenge-5452 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1350px -300px;
}

.challenge-idx-2030, .challenge-5464 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -0px -450px;
}

.challenge-idx-2031, .challenge-5465 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -150px -450px;
}

.challenge-idx-2032, .challenge-5466 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -300px -450px;
}

.challenge-idx-2033, .challenge-5467 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -450px -450px;
}

.challenge-idx-2034, .challenge-5468 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -600px -450px;
}

.challenge-idx-2035, .challenge-5469 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -750px -450px;
}

.challenge-idx-2036, .challenge-5470 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -900px -450px;
}

.challenge-idx-2037, .challenge-5471 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1050px -450px;
}

.challenge-idx-2038, .challenge-5472 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1200px -450px;
}

.challenge-idx-2039, .challenge-5474 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1350px -450px;
}

.challenge-idx-2040, .challenge-5476 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -0px -600px;
}

.challenge-idx-2041, .challenge-5477 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -150px -600px;
}

.challenge-idx-2042, .challenge-5478 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -300px -600px;
}

.challenge-idx-2043, .challenge-5480 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -450px -600px;
}

.challenge-idx-2044, .challenge-5481 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -600px -600px;
}

.challenge-idx-2045, .challenge-5482 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -750px -600px;
}

.challenge-idx-2046, .challenge-5484 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -900px -600px;
}

.challenge-idx-2047, .challenge-5485 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1050px -600px;
}

.challenge-idx-2048, .challenge-5486 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1200px -600px;
}

.challenge-idx-2049, .challenge-5487 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1350px -600px;
}

.challenge-idx-2050, .challenge-5488 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -0px -750px;
}

.challenge-idx-2051, .challenge-5489 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -150px -750px;
}

.challenge-idx-2052, .challenge-5491 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -300px -750px;
}

.challenge-idx-2053, .challenge-5492 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -450px -750px;
}

.challenge-idx-2054, .challenge-5494 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -600px -750px;
}

.challenge-idx-2055, .challenge-5495 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -750px -750px;
}

.challenge-idx-2056, .challenge-5496 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -900px -750px;
}

.challenge-idx-2057, .challenge-5510 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1050px -750px;
}

.challenge-idx-2058, .challenge-5511 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1200px -750px;
}

.challenge-idx-2059, .challenge-5512 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1350px -750px;
}

.challenge-idx-2060, .challenge-5513 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -0px -900px;
}

.challenge-idx-2061, .challenge-5514 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -150px -900px;
}

.challenge-idx-2062, .challenge-5515 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -300px -900px;
}

.challenge-idx-2063, .challenge-5516 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -450px -900px;
}

.challenge-idx-2064, .challenge-5517 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -600px -900px;
}

.challenge-idx-2065, .challenge-5518 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -750px -900px;
}

.challenge-idx-2066, .challenge-5519 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -900px -900px;
}

.challenge-idx-2067, .challenge-5520 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1050px -900px;
}

.challenge-idx-2068, .challenge-5522 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1200px -900px;
}

.challenge-idx-2069, .challenge-5529 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1350px -900px;
}

.challenge-idx-2070, .challenge-5530 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -0px -1050px;
}

.challenge-idx-2071, .challenge-5531 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -150px -1050px;
}

.challenge-idx-2072, .challenge-5532 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -300px -1050px;
}

.challenge-idx-2073, .challenge-5533 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -450px -1050px;
}

.challenge-idx-2074, .challenge-5534 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -600px -1050px;
}

.challenge-idx-2075, .challenge-5535 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -750px -1050px;
}

.challenge-idx-2076, .challenge-5536 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -900px -1050px;
}

.challenge-idx-2077, .challenge-5537 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1050px -1050px;
}

.challenge-idx-2078, .challenge-5538 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1200px -1050px;
}

.challenge-idx-2079, .challenge-5539 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1350px -1050px;
}

.challenge-idx-2080, .challenge-5545 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -0px -1200px;
}

.challenge-idx-2081, .challenge-5546 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -150px -1200px;
}

.challenge-idx-2082, .challenge-5548 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -300px -1200px;
}

.challenge-idx-2083, .challenge-5549 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -450px -1200px;
}

.challenge-idx-2084, .challenge-5550 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -600px -1200px;
}

.challenge-idx-2085, .challenge-5551 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -750px -1200px;
}

.challenge-idx-2086, .challenge-5552 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -900px -1200px;
}

.challenge-idx-2087, .challenge-5554 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1050px -1200px;
}

.challenge-idx-2088, .challenge-5555 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1200px -1200px;
}

.challenge-idx-2089, .challenge-5556 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1350px -1200px;
}

.challenge-idx-2090, .challenge-5557 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -0px -1350px;
}

.challenge-idx-2091, .challenge-5558 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -150px -1350px;
}

.challenge-idx-2092, .challenge-5559 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -300px -1350px;
}

.challenge-idx-2093, .challenge-5560 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -450px -1350px;
}

.challenge-idx-2094, .challenge-5561 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -600px -1350px;
}

.challenge-idx-2095, .challenge-5566 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -750px -1350px;
}

.challenge-idx-2096, .challenge-5572 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -900px -1350px;
}

.challenge-idx-2097, .challenge-5573 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1050px -1350px;
}

.challenge-idx-2098, .challenge-5577 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1200px -1350px;
}

.challenge-idx-2099, .challenge-5578 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2000_2100.png') -1350px -1350px;
}