.challenge-idx-1700, .challenge-4973 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -0px -0px;
}

.challenge-idx-1701, .challenge-4975 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -150px -0px;
}

.challenge-idx-1702, .challenge-4977 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -300px -0px;
}

.challenge-idx-1703, .challenge-4978 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -450px -0px;
}

.challenge-idx-1704, .challenge-4979 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -600px -0px;
}

.challenge-idx-1705, .challenge-4980 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -750px -0px;
}

.challenge-idx-1706, .challenge-4982 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -900px -0px;
}

.challenge-idx-1707, .challenge-4983 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1050px -0px;
}

.challenge-idx-1708, .challenge-4984 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1200px -0px;
}

.challenge-idx-1709, .challenge-4985 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1350px -0px;
}

.challenge-idx-1710, .challenge-4986 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -0px -150px;
}

.challenge-idx-1711, .challenge-4996 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -150px -150px;
}

.challenge-idx-1712, .challenge-4997 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -300px -150px;
}

.challenge-idx-1713, .challenge-5000 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -450px -150px;
}

.challenge-idx-1714, .challenge-5001 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -600px -150px;
}

.challenge-idx-1715, .challenge-5004 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -750px -150px;
}

.challenge-idx-1716, .challenge-5005 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -900px -150px;
}

.challenge-idx-1717, .challenge-5006 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1050px -150px;
}

.challenge-idx-1718, .challenge-5011 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1200px -150px;
}

.challenge-idx-1719, .challenge-5016 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1350px -150px;
}

.challenge-idx-1720, .challenge-5017 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -0px -300px;
}

.challenge-idx-1721, .challenge-5018 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -150px -300px;
}

.challenge-idx-1722, .challenge-5019 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -300px -300px;
}

.challenge-idx-1723, .challenge-5020 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -450px -300px;
}

.challenge-idx-1724, .challenge-5021 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -600px -300px;
}

.challenge-idx-1725, .challenge-5022 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -750px -300px;
}

.challenge-idx-1726, .challenge-5023 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -900px -300px;
}

.challenge-idx-1727, .challenge-5026 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1050px -300px;
}

.challenge-idx-1728, .challenge-5027 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1200px -300px;
}

.challenge-idx-1729, .challenge-5028 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1350px -300px;
}

.challenge-idx-1730, .challenge-5029 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -0px -450px;
}

.challenge-idx-1731, .challenge-5031 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -150px -450px;
}

.challenge-idx-1732, .challenge-5033 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -300px -450px;
}

.challenge-idx-1733, .challenge-5034 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -450px -450px;
}

.challenge-idx-1734, .challenge-5038 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -600px -450px;
}

.challenge-idx-1735, .challenge-5039 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -750px -450px;
}

.challenge-idx-1736, .challenge-5040 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -900px -450px;
}

.challenge-idx-1737, .challenge-5041 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1050px -450px;
}

.challenge-idx-1738, .challenge-5042 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1200px -450px;
}

.challenge-idx-1739, .challenge-5055 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1350px -450px;
}

.challenge-idx-1740, .challenge-5056 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -0px -600px;
}

.challenge-idx-1741, .challenge-5057 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -150px -600px;
}

.challenge-idx-1742, .challenge-5058 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -300px -600px;
}

.challenge-idx-1743, .challenge-5059 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -450px -600px;
}

.challenge-idx-1744, .challenge-5060 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -600px -600px;
}

.challenge-idx-1745, .challenge-5061 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -750px -600px;
}

.challenge-idx-1746, .challenge-5062 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -900px -600px;
}

.challenge-idx-1747, .challenge-5063 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1050px -600px;
}

.challenge-idx-1748, .challenge-5064 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1200px -600px;
}

.challenge-idx-1749, .challenge-5072 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1350px -600px;
}

.challenge-idx-1750, .challenge-5074 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -0px -750px;
}

.challenge-idx-1751, .challenge-5076 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -150px -750px;
}

.challenge-idx-1752, .challenge-5077 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -300px -750px;
}

.challenge-idx-1753, .challenge-5078 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -450px -750px;
}

.challenge-idx-1754, .challenge-5081 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -600px -750px;
}

.challenge-idx-1755, .challenge-5082 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -750px -750px;
}

.challenge-idx-1756, .challenge-5083 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -900px -750px;
}

.challenge-idx-1757, .challenge-5085 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1050px -750px;
}

.challenge-idx-1758, .challenge-5086 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1200px -750px;
}

.challenge-idx-1759, .challenge-5088 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1350px -750px;
}

.challenge-idx-1760, .challenge-5090 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -0px -900px;
}

.challenge-idx-1761, .challenge-5093 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -150px -900px;
}

.challenge-idx-1762, .challenge-5094 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -300px -900px;
}

.challenge-idx-1763, .challenge-5095 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -450px -900px;
}

.challenge-idx-1764, .challenge-5096 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -600px -900px;
}

.challenge-idx-1765, .challenge-5097 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -750px -900px;
}

.challenge-idx-1766, .challenge-5098 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -900px -900px;
}

.challenge-idx-1767, .challenge-5099 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1050px -900px;
}

.challenge-idx-1768, .challenge-5100 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1200px -900px;
}

.challenge-idx-1769, .challenge-5101 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1350px -900px;
}

.challenge-idx-1770, .challenge-5102 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -0px -1050px;
}

.challenge-idx-1771, .challenge-5104 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -150px -1050px;
}

.challenge-idx-1772, .challenge-5105 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -300px -1050px;
}

.challenge-idx-1773, .challenge-5106 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -450px -1050px;
}

.challenge-idx-1774, .challenge-5119 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -600px -1050px;
}

.challenge-idx-1775, .challenge-5121 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -750px -1050px;
}

.challenge-idx-1776, .challenge-5122 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -900px -1050px;
}

.challenge-idx-1777, .challenge-5123 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1050px -1050px;
}

.challenge-idx-1778, .challenge-5124 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1200px -1050px;
}

.challenge-idx-1779, .challenge-5125 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1350px -1050px;
}

.challenge-idx-1780, .challenge-5126 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -0px -1200px;
}

.challenge-idx-1781, .challenge-5127 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -150px -1200px;
}

.challenge-idx-1782, .challenge-5128 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -300px -1200px;
}

.challenge-idx-1783, .challenge-5129 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -450px -1200px;
}

.challenge-idx-1784, .challenge-5130 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -600px -1200px;
}

.challenge-idx-1785, .challenge-5131 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -750px -1200px;
}

.challenge-idx-1786, .challenge-5132 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -900px -1200px;
}

.challenge-idx-1787, .challenge-5133 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1050px -1200px;
}

.challenge-idx-1788, .challenge-5134 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1200px -1200px;
}

.challenge-idx-1789, .challenge-5135 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1350px -1200px;
}

.challenge-idx-1790, .challenge-5136 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -0px -1350px;
}

.challenge-idx-1791, .challenge-5137 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -150px -1350px;
}

.challenge-idx-1792, .challenge-5138 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -300px -1350px;
}

.challenge-idx-1793, .challenge-5139 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -450px -1350px;
}

.challenge-idx-1794, .challenge-5140 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -600px -1350px;
}

.challenge-idx-1795, .challenge-5141 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -750px -1350px;
}

.challenge-idx-1796, .challenge-5142 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -900px -1350px;
}

.challenge-idx-1797, .challenge-5143 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1050px -1350px;
}

.challenge-idx-1798, .challenge-5144 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1200px -1350px;
}

.challenge-idx-1799, .challenge-5145 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1700_1800.png') -1350px -1350px;
}