.challenge-idx-2100, .challenge-5579 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -0px -0px;
}

.challenge-idx-2101, .challenge-5582 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -150px -0px;
}

.challenge-idx-2102, .challenge-5585 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -300px -0px;
}

.challenge-idx-2103, .challenge-5586 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -450px -0px;
}

.challenge-idx-2104, .challenge-5587 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -600px -0px;
}

.challenge-idx-2105, .challenge-5589 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -750px -0px;
}

.challenge-idx-2106, .challenge-5590 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -900px -0px;
}

.challenge-idx-2107, .challenge-5593 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1050px -0px;
}

.challenge-idx-2108, .challenge-5594 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1200px -0px;
}

.challenge-idx-2109, .challenge-5595 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1350px -0px;
}

.challenge-idx-2110, .challenge-5596 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -0px -150px;
}

.challenge-idx-2111, .challenge-5598 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -150px -150px;
}

.challenge-idx-2112, .challenge-5599 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -300px -150px;
}

.challenge-idx-2113, .challenge-5600 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -450px -150px;
}

.challenge-idx-2114, .challenge-5601 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -600px -150px;
}

.challenge-idx-2115, .challenge-5602 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -750px -150px;
}

.challenge-idx-2116, .challenge-5603 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -900px -150px;
}

.challenge-idx-2117, .challenge-5604 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1050px -150px;
}

.challenge-idx-2118, .challenge-5605 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1200px -150px;
}

.challenge-idx-2119, .challenge-5606 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1350px -150px;
}

.challenge-idx-2120, .challenge-5608 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -0px -300px;
}

.challenge-idx-2121, .challenge-5609 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -150px -300px;
}

.challenge-idx-2122, .challenge-5610 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -300px -300px;
}

.challenge-idx-2123, .challenge-5611 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -450px -300px;
}

.challenge-idx-2124, .challenge-5612 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -600px -300px;
}

.challenge-idx-2125, .challenge-5641 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -750px -300px;
}

.challenge-idx-2126, .challenge-5642 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -900px -300px;
}

.challenge-idx-2127, .challenge-5660 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1050px -300px;
}

.challenge-idx-2128, .challenge-5661 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1200px -300px;
}

.challenge-idx-2129, .challenge-5662 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1350px -300px;
}

.challenge-idx-2130, .challenge-5663 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -0px -450px;
}

.challenge-idx-2131, .challenge-5664 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -150px -450px;
}

.challenge-idx-2132, .challenge-5665 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -300px -450px;
}

.challenge-idx-2133, .challenge-5666 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -450px -450px;
}

.challenge-idx-2134, .challenge-5667 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -600px -450px;
}

.challenge-idx-2135, .challenge-5668 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -750px -450px;
}

.challenge-idx-2136, .challenge-5669 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -900px -450px;
}

.challenge-idx-2137, .challenge-5670 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1050px -450px;
}

.challenge-idx-2138, .challenge-5671 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1200px -450px;
}

.challenge-idx-2139, .challenge-5672 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1350px -450px;
}

.challenge-idx-2140, .challenge-5673 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -0px -600px;
}

.challenge-idx-2141, .challenge-5674 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -150px -600px;
}

.challenge-idx-2142, .challenge-5675 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -300px -600px;
}

.challenge-idx-2143, .challenge-5676 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -450px -600px;
}

.challenge-idx-2144, .challenge-5677 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -600px -600px;
}

.challenge-idx-2145, .challenge-5679 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -750px -600px;
}

.challenge-idx-2146, .challenge-5680 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -900px -600px;
}

.challenge-idx-2147, .challenge-5682 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1050px -600px;
}

.challenge-idx-2148, .challenge-5683 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1200px -600px;
}

.challenge-idx-2149, .challenge-5684 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1350px -600px;
}

.challenge-idx-2150, .challenge-5685 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -0px -750px;
}

.challenge-idx-2151, .challenge-5686 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -150px -750px;
}

.challenge-idx-2152, .challenge-5688 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -300px -750px;
}

.challenge-idx-2153, .challenge-5689 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -450px -750px;
}

.challenge-idx-2154, .challenge-5690 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -600px -750px;
}

.challenge-idx-2155, .challenge-5695 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -750px -750px;
}

.challenge-idx-2156, .challenge-5697 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -900px -750px;
}

.challenge-idx-2157, .challenge-5698 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1050px -750px;
}

.challenge-idx-2158, .challenge-5699 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1200px -750px;
}

.challenge-idx-2159, .challenge-5700 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1350px -750px;
}

.challenge-idx-2160, .challenge-5701 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -0px -900px;
}

.challenge-idx-2161, .challenge-5702 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -150px -900px;
}

.challenge-idx-2162, .challenge-5703 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -300px -900px;
}

.challenge-idx-2163, .challenge-5704 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -450px -900px;
}

.challenge-idx-2164, .challenge-5705 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -600px -900px;
}

.challenge-idx-2165, .challenge-5706 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -750px -900px;
}

.challenge-idx-2166, .challenge-5707 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -900px -900px;
}

.challenge-idx-2167, .challenge-5708 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1050px -900px;
}

.challenge-idx-2168, .challenge-5709 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1200px -900px;
}

.challenge-idx-2169, .challenge-5710 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1350px -900px;
}

.challenge-idx-2170, .challenge-5711 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -0px -1050px;
}

.challenge-idx-2171, .challenge-5712 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -150px -1050px;
}

.challenge-idx-2172, .challenge-5713 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -300px -1050px;
}

.challenge-idx-2173, .challenge-5714 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -450px -1050px;
}

.challenge-idx-2174, .challenge-5715 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -600px -1050px;
}

.challenge-idx-2175, .challenge-5716 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -750px -1050px;
}

.challenge-idx-2176, .challenge-5717 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -900px -1050px;
}

.challenge-idx-2177, .challenge-5718 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1050px -1050px;
}

.challenge-idx-2178, .challenge-5719 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1200px -1050px;
}

.challenge-idx-2179, .challenge-5720 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1350px -1050px;
}

.challenge-idx-2180, .challenge-5736 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -0px -1200px;
}

.challenge-idx-2181, .challenge-5737 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -150px -1200px;
}

.challenge-idx-2182, .challenge-5739 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -300px -1200px;
}

.challenge-idx-2183, .challenge-5740 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -450px -1200px;
}

.challenge-idx-2184, .challenge-5741 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -600px -1200px;
}

.challenge-idx-2185, .challenge-5742 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -750px -1200px;
}

.challenge-idx-2186, .challenge-5744 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -900px -1200px;
}

.challenge-idx-2187, .challenge-5745 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1050px -1200px;
}

.challenge-idx-2188, .challenge-5746 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1200px -1200px;
}

.challenge-idx-2189, .challenge-5747 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1350px -1200px;
}

.challenge-idx-2190, .challenge-5748 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -0px -1350px;
}

.challenge-idx-2191, .challenge-5749 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -150px -1350px;
}

.challenge-idx-2192, .challenge-5751 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -300px -1350px;
}

.challenge-idx-2193, .challenge-5752 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -450px -1350px;
}

.challenge-idx-2194, .challenge-5753 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -600px -1350px;
}

.challenge-idx-2195, .challenge-5754 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -750px -1350px;
}

.challenge-idx-2196, .challenge-5755 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -900px -1350px;
}

.challenge-idx-2197, .challenge-5757 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1050px -1350px;
}

.challenge-idx-2198, .challenge-5758 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1200px -1350px;
}

.challenge-idx-2199, .challenge-5759 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_2100_2200.png') -1350px -1350px;
}