.challenge-idx-1600, .challenge-4747 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -0px -0px;
}

.challenge-idx-1601, .challenge-4748 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -150px -0px;
}

.challenge-idx-1602, .challenge-4749 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -300px -0px;
}

.challenge-idx-1603, .challenge-4751 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -450px -0px;
}

.challenge-idx-1604, .challenge-4753 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -600px -0px;
}

.challenge-idx-1605, .challenge-4755 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -750px -0px;
}

.challenge-idx-1606, .challenge-4756 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -900px -0px;
}

.challenge-idx-1607, .challenge-4757 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1050px -0px;
}

.challenge-idx-1608, .challenge-4758 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1200px -0px;
}

.challenge-idx-1609, .challenge-4772 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1350px -0px;
}

.challenge-idx-1610, .challenge-4773 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -0px -150px;
}

.challenge-idx-1611, .challenge-4774 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -150px -150px;
}

.challenge-idx-1612, .challenge-4775 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -300px -150px;
}

.challenge-idx-1613, .challenge-4776 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -450px -150px;
}

.challenge-idx-1614, .challenge-4777 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -600px -150px;
}

.challenge-idx-1615, .challenge-4778 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -750px -150px;
}

.challenge-idx-1616, .challenge-4779 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -900px -150px;
}

.challenge-idx-1617, .challenge-4794 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1050px -150px;
}

.challenge-idx-1618, .challenge-4795 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1200px -150px;
}

.challenge-idx-1619, .challenge-4796 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1350px -150px;
}

.challenge-idx-1620, .challenge-4798 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -0px -300px;
}

.challenge-idx-1621, .challenge-4799 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -150px -300px;
}

.challenge-idx-1622, .challenge-4800 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -300px -300px;
}

.challenge-idx-1623, .challenge-4801 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -450px -300px;
}

.challenge-idx-1624, .challenge-4802 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -600px -300px;
}

.challenge-idx-1625, .challenge-4803 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -750px -300px;
}

.challenge-idx-1626, .challenge-4804 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -900px -300px;
}

.challenge-idx-1627, .challenge-4805 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1050px -300px;
}

.challenge-idx-1628, .challenge-4806 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1200px -300px;
}

.challenge-idx-1629, .challenge-4807 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1350px -300px;
}

.challenge-idx-1630, .challenge-4808 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -0px -450px;
}

.challenge-idx-1631, .challenge-4809 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -150px -450px;
}

.challenge-idx-1632, .challenge-4810 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -300px -450px;
}

.challenge-idx-1633, .challenge-4811 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -450px -450px;
}

.challenge-idx-1634, .challenge-4813 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -600px -450px;
}

.challenge-idx-1635, .challenge-4814 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -750px -450px;
}

.challenge-idx-1636, .challenge-4816 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -900px -450px;
}

.challenge-idx-1637, .challenge-4817 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1050px -450px;
}

.challenge-idx-1638, .challenge-4819 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1200px -450px;
}

.challenge-idx-1639, .challenge-4821 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1350px -450px;
}

.challenge-idx-1640, .challenge-4847 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -0px -600px;
}

.challenge-idx-1641, .challenge-4850 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -150px -600px;
}

.challenge-idx-1642, .challenge-4852 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -300px -600px;
}

.challenge-idx-1643, .challenge-4853 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -450px -600px;
}

.challenge-idx-1644, .challenge-4868 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -600px -600px;
}

.challenge-idx-1645, .challenge-4869 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -750px -600px;
}

.challenge-idx-1646, .challenge-4870 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -900px -600px;
}

.challenge-idx-1647, .challenge-4871 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1050px -600px;
}

.challenge-idx-1648, .challenge-4872 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1200px -600px;
}

.challenge-idx-1649, .challenge-4873 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1350px -600px;
}

.challenge-idx-1650, .challenge-4874 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -0px -750px;
}

.challenge-idx-1651, .challenge-4875 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -150px -750px;
}

.challenge-idx-1652, .challenge-4876 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -300px -750px;
}

.challenge-idx-1653, .challenge-4877 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -450px -750px;
}

.challenge-idx-1654, .challenge-4878 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -600px -750px;
}

.challenge-idx-1655, .challenge-4879 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -750px -750px;
}

.challenge-idx-1656, .challenge-4880 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -900px -750px;
}

.challenge-idx-1657, .challenge-4881 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1050px -750px;
}

.challenge-idx-1658, .challenge-4882 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1200px -750px;
}

.challenge-idx-1659, .challenge-4884 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1350px -750px;
}

.challenge-idx-1660, .challenge-4887 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -0px -900px;
}

.challenge-idx-1661, .challenge-4888 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -150px -900px;
}

.challenge-idx-1662, .challenge-4890 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -300px -900px;
}

.challenge-idx-1663, .challenge-4891 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -450px -900px;
}

.challenge-idx-1664, .challenge-4892 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -600px -900px;
}

.challenge-idx-1665, .challenge-4893 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -750px -900px;
}

.challenge-idx-1666, .challenge-4894 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -900px -900px;
}

.challenge-idx-1667, .challenge-4895 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1050px -900px;
}

.challenge-idx-1668, .challenge-4908 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1200px -900px;
}

.challenge-idx-1669, .challenge-4909 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1350px -900px;
}

.challenge-idx-1670, .challenge-4912 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -0px -1050px;
}

.challenge-idx-1671, .challenge-4915 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -150px -1050px;
}

.challenge-idx-1672, .challenge-4917 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -300px -1050px;
}

.challenge-idx-1673, .challenge-4918 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -450px -1050px;
}

.challenge-idx-1674, .challenge-4919 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -600px -1050px;
}

.challenge-idx-1675, .challenge-4920 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -750px -1050px;
}

.challenge-idx-1676, .challenge-4921 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -900px -1050px;
}

.challenge-idx-1677, .challenge-4922 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1050px -1050px;
}

.challenge-idx-1678, .challenge-4923 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1200px -1050px;
}

.challenge-idx-1679, .challenge-4924 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1350px -1050px;
}

.challenge-idx-1680, .challenge-4925 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -0px -1200px;
}

.challenge-idx-1681, .challenge-4929 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -150px -1200px;
}

.challenge-idx-1682, .challenge-4930 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -300px -1200px;
}

.challenge-idx-1683, .challenge-4931 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -450px -1200px;
}

.challenge-idx-1684, .challenge-4933 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -600px -1200px;
}

.challenge-idx-1685, .challenge-4934 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -750px -1200px;
}

.challenge-idx-1686, .challenge-4935 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -900px -1200px;
}

.challenge-idx-1687, .challenge-4936 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1050px -1200px;
}

.challenge-idx-1688, .challenge-4938 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1200px -1200px;
}

.challenge-idx-1689, .challenge-4940 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1350px -1200px;
}

.challenge-idx-1690, .challenge-4946 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -0px -1350px;
}

.challenge-idx-1691, .challenge-4951 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -150px -1350px;
}

.challenge-idx-1692, .challenge-4952 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -300px -1350px;
}

.challenge-idx-1693, .challenge-4953 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -450px -1350px;
}

.challenge-idx-1694, .challenge-4955 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -600px -1350px;
}

.challenge-idx-1695, .challenge-4956 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -750px -1350px;
}

.challenge-idx-1696, .challenge-4957 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -900px -1350px;
}

.challenge-idx-1697, .challenge-4958 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1050px -1350px;
}

.challenge-idx-1698, .challenge-4959 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1200px -1350px;
}

.challenge-idx-1699, .challenge-4972 {
 width: 150px;
 height: 150px;
 background: url('../img/challenges_1600_1700.png') -1350px -1350px;
}