<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Strava Challenges Global</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="img/wrench-adjustable-circle.png" />

	<!-- Les sprites CSS seront chargés dynamiquement par sprite-loader.js -->

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@3.4.31/dist/vue.global.min.js"></script>
	<script src="js/sprite-loader.js"></script>

	<style>
		.text-orange, a:hover {
			color: orangered;
		}
		.btn {
			border-radius: 0px;
		}
		a.btn-orange.btn:hover,
		.btn-orange.btn.active {
			color: white;
			background-color: orangered;
			border-color: orangered;
		}
		.btn-orange {
			color: orangered;
			border-color: orangered;
		}
		.btn-search:hover {
    			color: var(--bs-btn-active-bg);
			background-color: transparent;
		}
		.col-1-96{
			/* width: 9.6%; */
			width: 160px;
		}
		footer .logo {
			width: 5%;
			margin-right: 10px;
			filter: opacity(0.6);
		}
		.text-justify{
			text-align: justify;
		}
		.challenge{
    		width: 150px;
    		height: 150px;
		}
		.challenge-img{
			max-width: 150px;
		}
		[data-bs-theme=dark] .link-dark{
			color: RGBA(var(--bs-light-rgb), var(--bs-link-opacity, 1)
				--bs-link-opacity is not defined) !important;
    		-webkit-text-decoration-color: RGBA(var(--bs-light-rgb),var(--bs-link-underline-opacity,1))!important;
    			text-decoration-color: RGBA(var(--bs-light-rgb), var(--bs-link-underline-opacity, 1)) !important;
		}
		[data-bs-theme=dark] .btn-orange {
			background-color: #330D00;
		}
		[data-bs-theme=dark] .btn-outline-secondary {
			background-color: #0A0B0C;
		}

	</style>


</head>

<body id="app">

	<header class="d-flex flex-wrap justify-content-center pt-3 pb-1 border-bottom text-orange">
		<a href="https://qlefevre.github.io/strava-challenges-global/"
			class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-orange text-decoration-none ps-5">
			<i class="bi bi-strava fs-1 me-2"></i>
			<span class="fs-4">Strava Challenges Global</span>
		</a>

		<ul class="nav nav-pills mt-3 pe-4 pe-xl-5 align-bottom">
			<li class="nav-item">
				<a href="?activities=Run" class="nav-link text-orange px-2 px-xl-3" v-html="svg('Run')+' Running challenges'"></a>
			</li>
			<li class="nav-item">
				<a href="?activities=Ride" class="nav-link text-orange px-2 px-xl-3" v-html="svg('Ride')+' Cycling challenges'"></a>
			</li>
			<li class="nav-item">
				<a href="?activities=Swim" class="nav-link text-orange px-2 px-xl-3" v-html="svg('Swim')+' Swimming challenges'"></a>
			</li>
		</ul>
	</header>
	<article class="col-10 mx-auto my-5 lead ">
		<p class="text-center">Discover all Strava challenges from around the world on Strava Challenges Global.<br>
				       Easily find challenges suited to your passions and take on new ones to stay motivated.</p>
	</article>

	<article id="challenges" class="col-10 mx-auto">

			<div class="row my-5">
				<div class="text-orange col-md-2 col-lg-3 col-xl-4"></div>
				<div class="ps-0 col-md-8 col-lg-6 col-xl-4">
					<div class="input-group" style="display: inline-flex;">
  						<input type="text" v-model="search" class="form-control btn btn-sm btn-outline-secondary btn-search" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
						<span class="input-group-text btn btn-sm btn-orange active" id="basic-addon1">🔎︎</span>
					</div>
				</div>
			</div>
		
			<div class="row mt-3">
				<div class="text-orange col-1 col-1-96">Filtered activities: </div>
				<div class="col-10 ps-0">
					<div>
						<a :class="'btn btn-orange btn-sm me-1 my-1'+cssActive(activity)" @click="toggle(activity)"
							role="button" v-for="activity in highlightedActivities" v-html="svg(activity)+' '+activity"></a>
						<a :class="'btn btn-outline-secondary btn-sm me-1 my-1 '+(showMore?'btn secondary active':'')"
							@click="toggleShowMore" role="button">{{showMore?'&ominus; Show Less':'&oplus; Show More'}}</a>
						<a :class="'btn btn-outline-secondary btn-sm me-1 my-1 '+(showSegments?'btn secondary active':'')"
							@click="toggleShowSegments" role="button">{{showSegments?'&ominus; Hide Segments':'&oplus; Show Segments'}}</a>
					</div>
					<div :class="'mb-4 '+(showMore?'':'d-none')">
						<a :class="'btn btn-orange btn-sm me-1 my-1'+cssActive(activity)" @click="toggle(activity)"
							role="button" v-for="activity in notHighlightedActivities">{{activity}}</a>
					</div>
				</div>
			</div>
			
		<div class="fs-2 display-6 text-orange my-3">Ongoing challenges <span class="fs-5">({{filteredOngoingChallenges.length}}) - {{displayPeriod(filteredOngoingChallenges)}}</span></div>
	
		<div class="text-center">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6">
				<div class="col" v-for="challenge in ongoingchallenges" v-show="filteredOngoingChallenges.includes(challenge)" >
					<a :href="'https://www.strava.com/challenges/'+challenge.challengeId" class="d-block" target="_blank">
						<img :src="challenge.challengeLogoUrl" class="d-inline-block mx-auto mb-3 mt-4 challenge-img" />
					</a>
					<a :href="'https://www.strava.com/challenges/'+challenge.challengeId"
						class="link-dark link-underline link-underline-opacity-10 link-opacity-50-hover"
						target="_blank">
						{{challenge.name}}
					</a>
					<br><a :href="'https://www.strava.com/challenges/'+challenge.challengeId"
						class="link-dark link-opacity-50-hover text-decoration-none"
						target="_blank">
						<small>{{challenge.period}}</small>
					</a>
				</div>
			</div>
		</div>

		<div class="fs-2 display-6 text-orange my-3 mt-5 pt-5">Past challenges <span class="fs-5">({{filteredChallenges.length}}) - {{displayPeriod(filteredChallenges)}}</span></div>
		<span class="fs-5 display-6 text-orange  ms-5 me-4">Years</span><span class="fs-5 display-6 text-orange me-4 mt-2 mb-0" v-for="year in years"><a class="text-decoration-none text-orange" :href="'#'+year">{{year}}</a></span>
		<div v-for="year in years">
			<div class="d-block" :id="year">&nbsp;</div>
			<div class="fs-3 display-6 text-orange my-4" >{{year}}</div> 
			<div class="text-center">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6">
					<div class="col" v-for="challenge in filteredChallengesByYear[year]" v-show="filteredChallenges.includes(challenge) && canDisplayChallenge(challenge)">
						<a :href="'https://www.strava.com/challenges/'+challenge.challengeId" class="d-block" target="_blank">
							<img v-if="challenge.challengeId > 5147" :src="challenge.challengeLogoUrl" class="d-inline-block mx-auto mb-3 mt-4 challenge-img" />
							<div v-else :class="'d-inline-block img-fluid mx-auto mb-3 mt-4 challenge challenge-'+challenge.challengeId"></div>
						</a>
						<a :href="'https://www.strava.com/challenges/'+challenge.challengeId"
							class="link-dark link-underline link-underline-opacity-10 link-opacity-50-hover"
							target="_blank">
							{{challenge.name}}
						</a>
						<br><a :href="'https://www.strava.com/challenges/'+challenge.challengeId"
							class="link-dark link-opacity-50-hover text-decoration-none"
							target="_blank">
							<small>{{challenge.period}}</small>
						</a>
					</div>
				</div>
			</div>
		</div>
	</article>


	<footer
		class="d-flex flex-wrap justify-content-between align-items-center py-0 mt-5 mb-3 border-top d-print-none text-orange">
		<div class="row w-100">
			<div class="col-md-7 d-flex align-items-center ps-5">
				<i class="bi bi-strava fs-1 me-2"></i>
				<p class="mb-3 mb-md-0  text-orange w-100">
					2026 <a class="text-decoration-none text-orange"
						href="https://qlefevre.github.io/strava-challenges-global/">Strava Challenges Global</a>.
				</p>
				
	
	
			</div>
	
			<ul class="nav col-md-5 justify-content-end pe-5">
				<li class="nav-item">
					<a href="?activities=Run" class="nav-link text-orange" v-html="svg('Run')+' Running challenges'"></a>
				</li>
				<li class="nav-item">
					<a href="?activities=Ride" class="nav-link text-orange" v-html="svg('Ride')+' Cycling challenges'"></a>
				</li>
				<li class="nav-item">
					<a href="?activities=Swim" class="nav-link text-orange" v-html="svg('Swim')+' Swimming challenges'"></a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-8 d-flex align-items-center ps-5">
				<p class="fw-lighter text-secondary text-justify ps-5">
					This site is not affiliated with Strava.com in any way.
					The content is provided for informational purposes only and is not endorsed by, sponsored by,
					or associated with Strava. All trademarks and service marks are the property of their respective owners. 
					The use of any trade name or trademark is solely for identification and reference purposes and 
					does not imply any association with the trademark holder. 
					The information is provided 'as is' without any warranties, express or implied. 
					Users should independently verify any information before relying on it.
				</p>
			</div>
		</div>

	</footer>
	
	<script>
		const { createApp } = Vue;

		createApp({
			data() {
				return {
					challenges: [],
					ongoingchallenges: [],
					years:[2026,2025,2024,2023,2022,2021,2020,2019],
					activities: ["Rowing","Canoeing","Run","VirtualRun","Crossfit","Elliptical","Workout","WeightTraining","RockClimbing","Wheelchair","Soccer","Golf","Handcycle","Kayaking","Kitesurf","Walk","Swim","AlpineSki","BackcountrySki","Badminton","Basketball","Crossfit","EBikeRide","EMountainBikeRide","Elliptical","IceSkate","InlineSkate","Kayaking","Kitesurf","MountainBikeRide","NordicSki","Pickleball","Pilates","Racquetball","RollerSki","Rowing","Rugby","Run","Sail","Skateboard","Snowboard","Snowshoe","Soccer","StairStepper","StandUpPaddling","Surfing","Swim","TableTennis","Tennis","TrailRun","Triathlon","VirtualRide","VirtualRun","VirtualRowig","Walk","WeightTraining","Wheelchair","Windsurf","Yoga"],
					highlightedActivities:  ["Run", "Ride", "Swim","Walk", "Hike"],
					activeFilters: [],
					showSegments: true,
					showMore: false,
					search: "",
					spritesLoadedStatus: {} // Track état de chargement des sprites
				}
			},
			computed: {
				icons: function () {
					return [...new Set(Object.values(this.applications))];
				},
				filteredChallenges: function () {
					return this.filterChallenges(this.challenges);
				},
				filteredChallengesByYear:function(){
					// tableau temporaire : challenges regroupés par année
					let challengesByYear = {};

					// tri des challenges
					this.challenges.forEach(challenge => {
						const year = parseInt(challenge.startDate.slice(0,4));
						if (!challengesByYear[year]) {
							challengesByYear[year] = [];
						}
						challengesByYear[year].push(challenge);
					});
					return challengesByYear;
				},
				filteredOngoingChallenges: function () {
					return this.filterChallenges(this.ongoingchallenges);
				},
				notHighlightedActivities:  function () {
					return this.activities.filter(activity => !this.highlightedActivities.includes(activity));
				}
			},
			methods: {
				filterChallenges: function (challenges) {
					let filteredChallenges = challenges;
					if(this.search !== ""){
						const searchLower = this.search.toLowerCase();
						filteredChallenges = filteredChallenges.filter(challenge => 	challenge.name.toLowerCase().includes(searchLower) ||
            													challenge.subtitle.toLowerCase().includes(searchLower) ||
            													challenge.clubName.toLowerCase().includes(searchLower));
					}
					if (this.activeFilters.length > 0){
						filteredChallenges = filteredChallenges.filter(challenge => challenge.qualifyingActivities.some(qual => this.activeFilters.includes(qual)));
					}
					if(!this.showSegments){
 						filteredChallenges = filteredChallenges.filter(challenge => challenge.segment === null);
					}
					return filteredChallenges;
				},
				displayPeriod: function(challenges){
					if(challenges.length <=2){
						return '';
					}
					let dates = [challenges[0],challenges[challenges.length-1]];  
					dates.sort((a, b) => new Date(a.endDate) - new Date(b.endDate));
					return  dates[0].period.split('to')[0]+'to'+dates[1].period.split('to')[1];
				},
				cssActive: function (activity) {
					return this.activeFilters.includes(activity) ? ' active' : '';
				},
				toggle: function (activity) {
					return this.activeFilters.includes(activity) ?
						this.activeFilters = this.activeFilters.filter(aFilter => aFilter !== activity) : this.activeFilters.push(activity);
				},
				toggleShowMore: function () {
					return this.showMore = !this.showMore;
				},
				toggleShowSegments: function () {
					return this.showSegments = !this.showSegments;
				},
				/**
				 * Vérifie si un challenge peut être affiché (sprite chargé si besoin)
				 */
				canDisplayChallenge: function(challenge) {
					// Les challenges avec challengeId > 5147 utilisent des images directes
					if (challenge.challengeId > 5147) {
						return true;
					}
					// Pour les autres, vérifier que le sprite est chargé
					return window.spriteLoader.isSpriteLodedForChallenge(challenge.challengeId);
				},
				svg: function (activity){
					switch (activity) {
						case 'Run':
							return '<svg class="me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M6.03 13.29a7.45 7.45 0 005.28 2.21h2.19a2 2 0 00.3-3.98L9.9 8.89l.67-2.37a2 2 0 00-1.93-2.65 2 2 0 00-1.92 1.37L4.55 7.14 2.2 5.5a1 1 0 00-1.4.06l-.73.84a1 1 0 00.06 1.4l2.59 2.25-.15 2.04a1 1 0 00.86 1.04zm2-10.3a1 1 0 100-2 1 1 0 000 2z"/></svg>';
						case 'Ride':
							return '<svg class="me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M4 13.01a3.5 3.5 0 003.46-3h1.08a3.5 3.5 0 102.42-3.84L9.83 3.58a.5.5 0 10-.66.74l1.13.98H8.5V3.5a.5.5 0 10-1 0v1.8H5.67l.98-.98a.5.5 0 10-.7-.7L4.3 4.8a.5.5 0 000 .71l1.67 1.66h-.5V5.5a.5.5 0 10-1 0v1.8H2.5a.5.5 0 100 1h1.33A3.5 3.5 0 014 13.01zm9-2a2.5 2.5 0 110-5 2.5 2.5 0 010 5z"/></svg>';
						case 'Swim':
							return '<svg class="me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><g clip-path="url(#sports_water_normal_xsmall_svg__clip0_138_646)"><path d="M13.09 10.97a3 3 0 01-2.28-1.1 3 3 0 00-4.62 0 3 3 0 01-2.28 1.1H2.78a.5.5 0 000 1h1.13a4 4 0 003.04-1.47 2 2 0 013.1 0 4 4 0 003.04 1.47h1.13a.5.5 0 000-1h-1.13zm0-3a3 3 0 01-2.28-1.1 3 3 0 00-4.62 0 3 3 0 01-2.28-1.1H2.78a.5.5 0 000 1h1.13a4 4 0 003.04-1.47 2 2 0 013.1 0 4 4 0 003.04 1.47h1.13a.5.5 0 000-1h-1.13zm0-3a3 3 0 01-2.28-1.1 3 3 0 00-4.62 0 3 3 0 01-2.28-1.1H2.78a.5.5 0 000 1h1.13a4 4 0 003.04-1.47 2 2 0 013.1 0 4 4 0 003.04 1.47h1.13a.5.5 0 000-1h-1.13z"/></g></svg>';
						case 'Walk':
							return '<svg class="me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><g fill=""><path d="M7.5 11.5h-2v1h2z"></path><path d="M15 8.06a1.646 1.646 0 00-1.46-.79l-.12.01h-.9l.36-.72a1.646 1.646 0 10-2.94 0l-1.06 2.12H5.75v3.82h-1v-3.82H2.75l-1 2.5H.59L2.75 4.75a1 1 0 011.89 0l.86 2.18v-1.1a1 1 0 011 1v1.6l2.5.63V5a1 1 0 112 0v4.06zM8 2a1 1 0 110-2 1 1 0 010 2z"></path></g></svg>';
						case 'Hike':
							return '<svg class="me-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path d="M5.75 12.88l.24-.24a.329.329 0 01.46-.01l.24.25a2.18 2.18 0 003.08 0l.24-.25a.329.329 0 01.46.01l.24.24a3.18 3.18 0 01-4.66 0z"/><path d="M8 2a1 1 0 100-2 1 1 0 000 2zm7 4a2 2 0 00-2-2h-.47L10.8 2.8a1.5 1.5 0 10-2.12 2.12l3.9 3.9H5.5V7a1.5 1.5 0 10-3 0v5.24L1.47 11.18a1.5 1.5 0 10-2.12 2.12l2.6 2.6a.5.5 0 00.35.15.5.5 0 00.35-.15l2.6-2.6a1.5 1.5 0 10-2.12-2.12L2.5 14.04V7a.5.5 0 111 0v1h5.5V6h.94l-3.9-3.9a.5.5 0 11.7-.7l2.4 2.4h.37a1 1 0 011 1v6h-1V6z"/></svg>';
					}						
				}						
			},
			mounted() {

				const urlParams = new URLSearchParams(window.location.search);
				
				// filter by activities > Run / Ride / Swim
				let activitiesdata = urlParams.get('activities');
				if(activitiesdata){
					values = activitiesdata.split('-').filter(activity => this.activities.includes(activity));
					this.activeFilters = values;
				}

				// filter "segment challenges"
				let hideSegments = urlParams.has('hideSegments');
				if(hideSegments){
					this.showSegments = false;
				}

				const url = "challenges.json";

				// date du jour à minuit
				const today = new Date();
				today.setHours(0);
				today.setMinutes(0);
				today.setSeconds(0);
				today.setMilliseconds(0);

				// Enregistrer le callback pour mettre à jour Vue quand les sprites sont chargés
				window.spriteLoader.onSpriteLoaded((sprite) => {
					this.spritesLoadedStatus[sprite.name] = true;
					// Force Vue à re-render
					this.$forceUpdate();
				});

				// Lancer le chargement progressif des sprites
				window.spriteLoader.loadSpritesProgressively();

				fetch(url)
					.then(response => {
						if (!response.ok) {
							throw new Error('Network response was not ok ' + response.statusText);
						}
						return response.json();
					})
					.then(data => {

						// Liste des challenges en cours
						this.ongoingchallenges= data
							.filter(a => a.clubId != 231407) // Filtrage Club Strava
							.filter(a => a.clubId != 886292) // Filtrage Team Runna
							.filter(a => new Date(a.endDate) >= today)
							.sort((a, b) => new Date(a.endDate) - new Date(b.endDate));

						// Liste des challenges 
						this.challenges = data
							.filter(a => a.clubId != 231407) // Filtrage Club Strava
							.filter(a => a.clubId != 886292) // Filtrage Team Runna
							.filter(a => new Date(a.endDate) < today)
							.sort((a, b) => new Date(b.endDate) - new Date(a.endDate));

					})
					.catch(error => {
						console.error('Il y a eu un problème avec votre requête fetch:', error);
					});
			}
		}).mount('#app');

	</script>
	<script>
	  // Fonction pour appliquer le thème en fonction des préférences système
	  function applyTheme() {
	    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
	      document.documentElement.setAttribute('data-bs-theme', 'dark');
	    } else {
	      document.documentElement.setAttribute('data-bs-theme', 'light');
	    }
	  }
	  // Applique le thème au chargement de la page
	  applyTheme();
	  // Écoute les changements de préférence de couleur
	  window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', applyTheme);
	</script>
</body>
</html>
