<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Strava Challenges Global</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
	<link rel="icon" type="image/png" href="img/wrench-adjustable-circle.png" />

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@3.4.31/dist/vue.global.min.js"></script>
	<style>
		.text-orange, a:hover {
			color: orangered;
		}

		.btn {
			border-radius: 0px;
		}

		a.btn-orange.btn:hover,
		.btn-orange.btn.active {
			color: white;
			background-color: orangered;
		}

		.btn-orange {
			color: orangered;
			border-color: orangered;
		}

		.col-1-96{
			/* width: 9.6%; */
			width: 160px;
		}

		footer .logo {
			width: 5%;
			margin-right: 10px;
			filter: opacity(0.6);
		}

		.text-justify{
			text-align: justify;
		}
	</style>


</head>

<body id="app">

	<header class="d-flex flex-wrap justify-content-center pt-3 pb-1 border-bottom text-orange">
		<a href="https://qlefevre.github.io/strava-challenges-global/"
			class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-orange text-decoration-none ps-5">
			<i class="bi bi-strava fs-1 me-2"></i>
			<span class="fs-4">Strava Challenges Global</span>
		</a>

		<ul class="nav nav-pills mt-3 pe-5">
			<li class="nav-item">
				<a href="?activities=Run" class="nav-link text-orange">Running challenges</a>
			</li>
			<li class="nav-item">
				<a href="?activities=Ride" class="nav-link text-orange">Cycling challenges</a>
			</li>
			<li class="nav-item">
				<a href="?activities=Swim" class="nav-link text-orange">Swimming challenges</a>
			</li>
		</ul>
	</header>
	<article class="col-10 mx-auto mt-4 fw-light">
		<p>Strava Challenges Global lists all active challenges from global partners, excluding those issued by the official Strava club.<br>
		Strava is an interactive platform that allows athletes, particularly runners, to track and compare their performance across a variety of global challenges.<br>
		By following the challenge link, users can easily view their progress, see how they rank against others, and stay motivated to achieve their personal goals.<br>
		The platform provides a dynamic leaderboard, detailed activity metrics, and a user-friendly interface, making it a great tool for anyone looking to push their limits and participate in running challenges around the world.</p>
	</article>

	<article id="challenges" class="col-10 mx-auto">

			<div class="row mt-3">
				<div class="text-orange col-1 col-1-96">Filtered activities: </div>
				<div class="col-10 ps-0">
					<div>
						<a :class="'btn btn-orange btn-sm me-1 my-1'+cssActive(activity)" @click="toggle(activity)"
							role="button" v-for="activity in highlightedActivities">{{activity}}</a>
						<a :class="'btn btn-outline-secondary btn-sm me-1 my-1 '+(showMore?'btn secondary active':'')"
							@click="toggleShowMore" role="button">{{showMore?'&ominus; Show Less':'&oplus; Show More'}}</a>
					</div>
					<div :class="'mb-4 '+(showMore?'':'d-none')">
						<a :class="'btn btn-orange btn-sm me-1 my-1'+cssActive(activity)" @click="toggle(activity)"
							role="button" v-for="activity in notHighlightedActivities">{{activity}}</a>
					</div>
				</div>
			</div>
		


		<div class="fs-2 display-6 text-orange my-3">Ongoing challenges <span class="fs-5">({{filteredOngoingChallenges.length}}) - {{displayPeriod(filteredOngoingChallenges)}}</span></div>
	
		<div class="text-center">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6">
				<div class="col" v-for="challenge in filteredOngoingChallenges">
					<a :href="'https://www.strava.com/challenges/'+challenge.challengeId" target="_blank">
						<img :src="challenge.challengeLogoUrl" class="img-fluid px-5 pb-3 pt-4" />
					</a>
					<a :href="'https://www.strava.com/challenges/'+challenge.challengeId"
						class="link-dark link-underline link-underline-opacity-10 link-opacity-50-hover"
						target="_blank">
						{{challenge.name}}
					</a>
					<br><a :href="'https://www.strava.com/challenges/'+challenge.challengeId"
						class="link-dark link-opacity-50-hover text-decoration-none"
						target="_blank">
						<small>{{challenge.period}}</small>
					</a>
				</div>
			</div>
		</div>

		<div class="fs-2 display-6 text-orange my-3 mt-5 pt-5">Past challenges <span class="fs-5">({{filteredChallenges.length}}) - {{displayPeriod(filteredChallenges)}}</span></div>
		<span class="fs-5 display-6 text-orange  ms-5 me-4">Years</span><span class="fs-5 display-6 text-orange me-4 mt-2 mb-0" v-for="year in years"><a class="text-decoration-none text-orange" :href="'#'+year">{{year}}</a> </span>
		<div v-for="year in years">
			<div class="d-block" :id="year">&nbsp;</div>
			<div class="fs-3 display-6 text-orange my-4" >{{year}}</div> 
			<div class="text-center">
				<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6">
					<div class="col" v-for="challenge in filteredChallengesByYear[year]">
						<a :href="'https://www.strava.com/challenges/'+challenge.challengeId" target="_blank">
							<img :src="challenge.challengeLogoUrl" class="img-fluid px-5 pb-3 pt-4" />
						</a>
						<a :href="'https://www.strava.com/challenges/'+challenge.challengeId"
							class="link-dark link-underline link-underline-opacity-10 link-opacity-50-hover"
							target="_blank">
							{{challenge.name}}
						</a>
						<br><a :href="'https://www.strava.com/challenges/'+challenge.challengeId"
							class="link-dark link-opacity-50-hover text-decoration-none"
							target="_blank">
							<small>{{challenge.period}}</small>
						</a>
					</div>
				</div>
			</div>
		</div>
	</article>


	<footer
		class="d-flex flex-wrap justify-content-between align-items-center py-0 mt-5 mb-3 border-top d-print-none text-orange">
		<div class="row w-100">
			<div class="col-md-8 d-flex align-items-center ps-5">
				<i class="bi bi-strava fs-1 me-2"></i>
				<p class="mb-3 mb-md-0  text-orange w-100">
					2024 <a class="text-decoration-none text-orange"
						href="https://qlefevre.github.io/strava-challenges-global/">Strava Challenges Global</a>.
				</p>
				
	
	
			</div>
	
			<ul class="nav col-md-4 justify-content-end pe-5">
				<li class="nav-item">
					<a href="?activities=Run" class="nav-link text-orange">Running challenges</a>
				</li>
				<li class="nav-item">
					<a href="?activities=Ride" class="nav-link text-orange">Cycling challenges</a>
				</li>
				<li class="nav-item">
					<a href="?activities=Swim" class="nav-link text-orange">Swimming challenges</a>
				</li>
			</ul>
		</div>
		<div class="row">
			<div class="col-md-8 d-flex align-items-center ps-5">
				<p class="fw-lighter text-secondary text-justify ps-5">This site is not affiliated with Strava.com in any way, shape, or form. The content
					provided on this site is for informational purposes only and is not endorsed by, sponsored by, or
					otherwise associated with Strava. All trademarks and service marks are the property of their respective
					owners. The use of any trade name or trademark is for identification and reference purposes only and
					does not imply any association with the trademark holder. The information on this site is provided "as
					is" without any representations or warranties, express or implied. Users should independently verify any
					information before relying on it.</p>
			</div>
		</div>

	</footer>
	



	<script>
		const { createApp } = Vue;

		createApp({
			data() {
				return {
					challenges: [],
					ongoingchallenges: [],
					years:[2024,2023,2022,2021,2020,2019],
					activities: ["Rowing","Canoeing","Run","VirtualRun","Crossfit","Elliptical","Workout","WeightTraining","RockClimbing","Wheelchair","Soccer","Golf","Handcycle","Kayaking","Kitesurf","Walk","Swim","IceSkate","Hike","Snowshoe","InlineSkate","StairStepper","Skateboard","AlpineSki","BackcountrySki","NordicSki","RollerSki","Snowboard","StandUpPaddling","Surfing","Sail","Ride","VirtualRide","EBikeRide","Velomobile","Windsurf","Yoga"],
					highlightedActivities:  ["Run", "Ride", "Swim","Walk", "Hike"],
					activeFilters: [],
					showMore: false,
				}
			},
			computed: {
				icons: function () {
					return [...new Set(Object.values(this.applications))];
				},
				filteredChallenges: function () {
					return this.filterChallenges(this.challenges);
				},
				filteredChallengesByYear:function(){
					// tableau temporaire : challenges regroupés par année
					let challengesByYear = {};

					// tri des challenges
					this.filteredChallenges.forEach(challenge => {
						const year = parseInt(challenge.startDate.slice(0,4));
						if (!challengesByYear[year]) {
							challengesByYear[year] = [];
						}
						challengesByYear[year].push(challenge);
					});
					return challengesByYear;
				},
				filteredOngoingChallenges: function () {
					return this.filterChallenges(this.ongoingchallenges);
				},
				notHighlightedActivities:  function () {
					return this.activities.filter(activity => !this.highlightedActivities.includes(activity));
				}
			},
			methods: {
				filterChallenges: function (challenges) {
					if (this.activeFilters.length === 0){
						return challenges;
					}
					return challenges.filter(challenge => challenge.qualifyingActivities.some(qual => this.activeFilters.includes(qual)));
				},
				displayPeriod: function(challenges){
					if(challenges.length <=2){
						return '';
					}
					let dates = [challenges[0],challenges[challenges.length-1]];  
					dates.sort((a, b) => new Date(a.endDate) - new Date(b.endDate));
					return  dates[0].period.split('to')[0]+'to'+dates[1].period.split('to')[1];
				},
				cssActive: function (activity) {
					return this.activeFilters.includes(activity) ? ' active' : '';
				},
				toggle: function (activity) {
					return this.activeFilters.includes(activity) ?
						this.activeFilters = this.activeFilters.filter(aFilter => aFilter !== activity) : this.activeFilters.push(activity);
				},
				toggleShowMore: function () {
					return this.showMore = !this.showMore;
				},

			},
			mounted() {

				const urlParams = new URLSearchParams(window.location.search);
				let activitiesdata = urlParams.get('activities');

				if(activitiesdata){
					values = activitiesdata.split('-').filter(activity => this.activities.includes(activity));
					this.activeFilters = values;
				}
		

				const url = "challenges.json";

				// date du jour à minuit
				const today = new Date();
				today.setHours(0);
				today.setMinutes(0);
				today.setSeconds(0);
				today.setMilliseconds(0);

				fetch(url)
					.then(response => {
						if (!response.ok) {
							throw new Error('Network response was not ok ' + response.statusText);
						}
						return response.json();
					})
					.then(data => {


						// Liste des challenges en cours
						this.ongoingchallenges= data
							.filter(a => new Date(a.endDate) >= today)
							.sort((a, b) => new Date(a.endDate) - new Date(b.endDate));

						// Liste des challenges 
						this.challenges = data
							.filter(a => new Date(a.endDate) < today)
							.sort((a, b) => new Date(b.endDate) - new Date(a.endDate));

					})
					.catch(error => {
						console.error('Il y a eu un problème avec votre requête fetch:', error);
					});
			}
		}).mount('#app');

	</script>


</body>

</html>
