name: Daily Update Challenges

on:
  workflow_dispatch:
  schedule:
    - cron: '0 6 4-28/7 * *' # Scheduled to run at 6:00 AM on the 4th, 11th, 18th, and 25th of each month.
    - cron: '0 6 5-28/7 * *' # Scheduled to run at 6:00 AM on the 5rd, 12th, 19th, and 26th of each month.
    - cron: '0 6 1,7,14,21,28 * *' # Scheduled to run at 6:00 AM on the 1st, 7th, 14th, 21st, and 28th of each month.

env:
  FORCE_COLOR: 3

permissions:
  contents: write

jobs:
  update-challenges:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source repository
      uses: actions/checkout@v4
      with:
        repository: qlefevre/strava-challenges-global
        path: source-repo
        ref: main

    - name: Checkout target repository
      uses: actions/checkout@v4
      with:
        repository: qlefevre/strava-challenges-global
        path: target-repo
        ref: main

    - name: Prepare update-challenges.js
      run: |
        cd source-repo
        npm install axios fs-extra colors

    - name: Update challenges.json 5 15 - Search from the last 5 challenge IDs and up to 15 starting from the most recent known ID.
      if: github.event.schedule == '0 6 4-28/7 * *'
      run: node ./source-repo/update/update-challenge.js ./source-repo/challenges.json ./target-repo/challenges.json 5 15

    - name: Update challenges.json 1 30 - Search from the last 1 challenge IDs and up to 30 starting from the most recent known ID.
      if: github.event.schedule == '0 6 1,7,14,21,28 * *'
      run: node ./source-repo/update/update-challenge.js ./source-repo/challenges.json ./target-repo/challenges.json 1 30

    - name: Update challenges.json 8 5 - Search from the last 8 challenge IDs and up to 5 starting from the most recent known ID.
      if: github.event.schedule == '0 6 5-28/7 * *'
      run: node ./source-repo/update/update-challenge.js ./source-repo/challenges.json ./target-repo/challenges.json 8 5

    - name: Update challenges.json 30 30 - Search from the last 30 challenge IDs and up to 30 starting from the most recent known ID.
      if: github.event_name == 'workflow_dispatch'
      run: node ./source-repo/update/update-challenge.js ./source-repo/challenges.json ./target-repo/challenges.json 120 5

    - name: Configure Git
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'

    - name: Commit and push changes
      run: |
        cd target-repo
        git add .
        if ! git diff-index --quiet HEAD; then
          git commit -m "Update Challenge"
          git push origin main
        fi
