name: Daily Update Challenges

on:
  workflow_dispatch:
  schedule:
  - cron: '0 6 * * 1,3,5'

permissions:
  contents: write

jobs:
  update-challenges:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source repository
      uses: actions/checkout@v4
      with:
        repository: qlefevre/strava-challenges-global
        path: source-repo
        ref: ${{github.ref}}

    - name: Checkout target repository
      uses: actions/checkout@v4
      with:
        repository: qlefevre/strava-challenges-global
        path: target-repo
        ref: ${{github.ref}}

    - name: Update challenges.json
      run: |
        cd source-repo
        npm install axios fs-extra
        node ./update/update-challenge.js challenges.json ../target-repo/challenges.json

    - name: Configure Git
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email 'github-actions[bot]@users.noreply.github.com'

    - name: Commit and push changes
      run: |
        cd target-repo
        git add .
        if ! git diff-index --quiet HEAD; then
          git commit -m "Update Challenge"
          git push origin main
        fi
